In [1]:
from imblearn.over_sampling import SMOTE

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('../../../datasets/kingcounty/raw/kc_house_data.csv');
df.sample(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
3526,6448000090,20140512T000000,1575000.0,5,2.75,3650,20150,1.0,0,0,...,10,2360,1290,1975,0,98004,47.6215,-122.224,3220,19800
12979,7967950040,20150416T000000,485000.0,4,2.50,3710,15935,1.0,0,0,...,10,2130,1580,2005,0,98001,47.3528,-122.267,3674,17913
2919,2725069162,20140815T000000,772000.0,4,2.50,2990,9643,2.0,0,0,...,9,2990,0,2003,0,98074,47.6292,-122.024,2990,8666

In [3]:
category_columns=("condition", "floors", "grade", "view", "waterfront", "zipcode", "bathrooms", "bedrooms",)
df_prep = df.loc[:, ['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15']].assign(target=(np.random.rand(df.shape[0]) > 0.5)*1).astype({k:"category" for k in category_columns})

In [4]:
df_prep.loc[:, df_prep.columns != "target"]
df_prep.loc[:, "date"] = (pd.to_datetime(df_prep["date"]) - pd.to_datetime(df.date.min())).dt.days

/tmp/ipykernel_144600/70648673.py:2: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_prep.loc[:, "date"] = (pd.to_datetime(df_prep["date"]) - pd.to_datetime(df.date.min())).dt.days

In [5]:
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE 

sm = SMOTE(random_state=42)
sm.fit(df_prep.loc[:, df_prep.columns != "target"], df_prep.target)

SMOTE(random_state=42)

In [6]:
df_prep.loc[:, df_prep.columns != "target"]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,164,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,221,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,299,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,221,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,292,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,19,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,297,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,52,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,259,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,166,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [7]:
sm.sampling_strategy_.items

In [8]:

#X_new, y_new = sm._make_samples(
#    df_prep.loc[df_prep.target == 0, df_prep.columns != "target"], int, class_sample, X_class, nns, n_samples, 1.0
#)

NameError: name 'X_class' is not defined

In [11]:
import numpy as np
y = np.load("/home/gvillarroel/dev/tab-ddpm/data/abalone/y_train.npy")
y

array([ 7,  9,  9, ..., 14,  5,  8])

In [12]:
np.where(y > np.median(y), 1, 0)

array([0, 0, 0, ..., 1, 0, 0])