# King County

In [1]:
import pandas as pd
df = pd.read_csv('../datasets/kingcounty/raw/kc_house_data.csv');
df.sample(3)
DATASET_VERSION = "a-1"

In [2]:
%%capture
from syntheticml.data.synthetic import Synthetic, MODELS
syn = Synthetic(df,
                    id="id",
                    category_columns=("condition", "floors", "grade", "view",
                                      "waterfront", "zipcode", "bathrooms", "bedrooms",),
                    synthetic_folder=f"../datasets/kingcounty/synth-{DATASET_VERSION}",
                    models=MODELS.keys(),
                    n_sample=21613,
                    max_cpu_pool=1,
                    target_column="price",
                    model_parameters=dict(
                        tddpm_mlp=dict(
                                batch_size=3750,
                                steps=1000000,
                                num_timesteps=100,
                                lr=5e-4,
                                model_params=dict(
                                        rtdl_params=dict(
                                                dropout=0.0,
                                                d_layers=[1024, 512, 256]
                                        )
                                )
                        )
                    )
                    )

In [3]:
syn.process()
syn.process_scores()

Fitting Models
Params
{'metadata': {
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1",
    "columns": {
        "id": {
            "sdtype": "numerical"
        },
        "date": {
            "sdtype": "categorical"
        },
        "price": {
            "sdtype": "numerical"
        },
        "bedrooms": {
            "sdtype": "categorical"
        },
        "bathrooms": {
            "sdtype": "categorical"
        },
        "sqft_living": {
            "sdtype": "numerical"
        },
        "sqft_lot": {
            "sdtype": "numerical"
        },
        "floors": {
            "sdtype": "categorical"
        },
        "waterfront": {
            "sdtype": "categorical"
        },
        "view": {
            "sdtype": "categorical"
        },
        "condition": {
            "sdtype": "categorical"
        },
        "grade": {
            "sdtype": "categorical"
        },
        "sqft_above": {
            "sdtype": "numerical"
        },
        "sqft_basement": {
            "sdtype": "numerical"
        },
        "yr_built": {
            "sdtype": "numerical"
        },
        "yr_renovated": {
            "sdtype": "numerical"
        },
        "zipcode": {
            "sdtype": "categorical"
        },
        "lat": {
            "sdtype": "numerical"
        },
        "long": {
            "sdtype": "numerical"
        },
        "sqft_living15": {
            "sdtype": "numerical"
        },
        "sqft_lot15": {
            "sdtype": "numerical"
        }
    }
}, 'batch_size': 50000, 'cuda': True, 'verbose': True}

Params
{'metadata': {
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1",
    "columns": {
        "id": {
            "sdtype": "numerical"
        },
        "date": {
            "sdtype": "categorical"
        },
        "price": {
            "sdtype": "numerical"
        },
        "bedrooms": {
            "sdtype": "categorical"
        },
        "bathrooms": {
            "sdtype": "categorical"
        },
        "sqft_living": {
            "sdtype": "numerical"
        },
        "sqft_lot": {
            "sdtype": "numerical"
        },
        "floors": {
            "sdtype": "categorical"
        },
        "waterfront": {
            "sdtype": "categorical"
        },
        "view": {
            "sdtype": "categorical"
        },
        "condition": {
            "sdtype": "categorical"
        },
        "grade": {
            "sdtype": "categorical"
        },
        "sqft_above": {
            "sdtype": "numerical"
        },
        "sqft_basement": {
            "sdtype": "numerical"
        },
        "yr_built": {
            "sdtype": "numerical"
        },
        "yr_renovated": {
            "sdtype": "numerical"
        },
        "zipcode": {
            "sdtype": "categorical"
        },
        "lat": {
            "sdtype": "numerical"
        },
        "long": {
            "sdtype": "numerical"
        },
        "sqft_living15": {
            "sdtype": "numerical"
        },
        "sqft_lot15": {
            "sdtype": "numerical"
        }
    }
}, 'batch_size': 50000, 'cuda': True}

Params
{'metadata': {
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1",
    "columns": {
        "id": {
            "sdtype": "numerical"
        },
        "date": {
            "sdtype": "categorical"
        },
        "price": {
            "sdtype": "numerical"
        },
        "bedrooms": {
            "sdtype": "categorical"
        },
        "bathrooms": {
            "sdtype": "categorical"
        },
        "sqft_living": {
            "sdtype": "numerical"
        },
        "sqft_lot": {
            "sdtype": "numerical"
        },
        "floors": {
            "sdtype": "categorical"
        },
        "waterfront": {
            "sdtype": "categorical"
        },
        "view": {
            "sdtype": "categorical"
        },
        "condition": {
            "sdtype": "categorical"
        },
        "grade": {
            "sdtype": "categorical"
        },
        "sqft_above": {
            "sdtype": "numerical"
        },
        "sqft_basement": {
            "sdtype": "numerical"
        },
        "yr_built": {
            "sdtype": "numerical"
        },
        "yr_renovated": {
            "sdtype": "numerical"
        },
        "zipcode": {
            "sdtype": "categorical"
        },
        "lat": {
            "sdtype": "numerical"
        },
        "long": {
            "sdtype": "numerical"
        },
        "sqft_living15": {
            "sdtype": "numerical"
        },
        "sqft_lot15": {
            "sdtype": "numerical"
        }
    }
}}

Params
{'metadata': {
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1",
    "columns": {
        "id": {
            "sdtype": "numerical"
        },
        "date": {
            "sdtype": "categorical"
        },
        "price": {
            "sdtype": "numerical"
        },
        "bedrooms": {
            "sdtype": "categorical"
        },
        "bathrooms": {
            "sdtype": "categorical"
        },
        "sqft_living": {
            "sdtype": "numerical"
        },
        "sqft_lot": {
            "sdtype": "numerical"
        },
        "floors": {
            "sdtype": "categorical"
        },
        "waterfront": {
            "sdtype": "categorical"
        },
        "view": {
            "sdtype": "categorical"
        },
        "condition": {
            "sdtype": "categorical"
        },
        "grade": {
            "sdtype": "categorical"
        },
        "sqft_above": {
            "sdtype": "numerical"
        },
        "sqft_basement": {
            "sdtype": "numerical"
        },
        "yr_built": {
            "sdtype": "numerical"
        },
        "yr_renovated": {
            "sdtype": "numerical"
        },
        "zipcode": {
            "sdtype": "categorical"
        },
        "lat": {
            "sdtype": "numerical"
        },
        "long": {
            "sdtype": "numerical"
        },
        "sqft_living15": {
            "sdtype": "numerical"
        },
        "sqft_lot15": {
            "sdtype": "numerical"
        }
    }
}, 'batch_size': 50000, 'cuda': True, 'verbose': True}

Params
{'metadata': {
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1",
    "columns": {
        "id": {
            "sdtype": "numerical"
        },
        "date": {
            "sdtype": "categorical"
        },
        "price": {
            "sdtype": "numerical"
        },
        "bedrooms": {
            "sdtype": "categorical"
        },
        "bathrooms": {
            "sdtype": "categorical"
        },
        "sqft_living": {
            "sdtype": "numerical"
        },
        "sqft_lot": {
            "sdtype": "numerical"
        },
        "floors": {
            "sdtype": "categorical"
        },
        "waterfront": {
            "sdtype": "categorical"
        },
        "view": {
            "sdtype": "categorical"
        },
        "condition": {
            "sdtype": "categorical"
        },
        "grade": {
            "sdtype": "categorical"
        },
        "sqft_above": {
            "sdtype": "numerical"
        },
        "sqft_basement": {
            "sdtype": "numerical"
        },
        "yr_built": {
            "sdtype": "numerical"
        },
        "yr_renovated": {
            "sdtype": "numerical"
        },
        "zipcode": {
            "sdtype": "categorical"
        },
        "lat": {
            "sdtype": "numerical"
        },
        "long": {
            "sdtype": "numerical"
        },
        "sqft_living15": {
            "sdtype": "numerical"
        },
        "sqft_lot15": {
            "sdtype": "numerical"
        }
    }
}}

Params
{'table_metadata': {
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1",
    "columns": {
        "id": {
            "sdtype": "numerical"
        },
        "date": {
            "sdtype": "categorical"
        },
        "price": {
            "sdtype": "numerical"
        },
        "bedrooms": {
            "sdtype": "categorical"
        },
        "bathrooms": {
            "sdtype": "categorical"
        },
        "sqft_living": {
            "sdtype": "numerical"
        },
        "sqft_lot": {
            "sdtype": "numerical"
        },
        "floors": {
            "sdtype": "categorical"
        },
        "waterfront": {
            "sdtype": "categorical"
        },
        "view": {
            "sdtype": "categorical"
        },
        "condition": {
            "sdtype": "categorical"
        },
        "grade": {
            "sdtype": "categorical"
        },
        "sqft_above": {
            "sdtype": "numerical"
        },
        "sqft_basement": {
            "sdtype": "numerical"
        },
        "yr_built": {
            "sdtype": "numerical"
        },
        "yr_renovated": {
            "sdtype": "numerical"
        },
        "zipcode": {
            "sdtype": "categorical"
        },
        "lat": {
            "sdtype": "numerical"
        },
        "long": {
            "sdtype": "numerical"
        },
        "sqft_living15": {
            "sdtype": "numerical"
        },
        "sqft_lot15": {
            "sdtype": "numerical"
        }
    }
}, 'target_column': 'price', 'exclude_columns': (), 'batch_size': 50000}

Params
{'table_metadata': {
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1",
    "columns": {
        "id": {
            "sdtype": "numerical"
        },
        "date": {
            "sdtype": "categorical"
        },
        "price": {
            "sdtype": "numerical"
        },
        "bedrooms": {
            "sdtype": "categorical"
        },
        "bathrooms": {
            "sdtype": "categorical"
        },
        "sqft_living": {
            "sdtype": "numerical"
        },
        "sqft_lot": {
            "sdtype": "numerical"
        },
        "floors": {
            "sdtype": "categorical"
        },
        "waterfront": {
            "sdtype": "categorical"
        },
        "view": {
            "sdtype": "categorical"
        },
        "condition": {
            "sdtype": "categorical"
        },
        "grade": {
            "sdtype": "categorical"
        },
        "sqft_above": {
            "sdtype": "numerical"
        },
        "sqft_basement": {
            "sdtype": "numerical"
        },
        "yr_built": {
            "sdtype": "numerical"
        },
        "yr_renovated": {
            "sdtype": "numerical"
        },
        "zipcode": {
            "sdtype": "categorical"
        },
        "lat": {
            "sdtype": "numerical"
        },
        "long": {
            "sdtype": "numerical"
        },
        "sqft_living15": {
            "sdtype": "numerical"
        },
        "sqft_lot15": {
            "sdtype": "numerical"
        }
    }
}, 'checkpoint': '../datasets/kingcounty/synth-a-1/checkpoint/tddpm_mlp', 'target_column': 'price', 'exclude_columns': (), 'batch_size': 3750, 'steps': 1000000, 'num_timesteps': 100, 'lr': 0.0005, 'model_params': {'rtdl_params': {'dropout': 0.0, 'd_layers': [1024, 512, 256]}}}

/usr/local/python/3.10.12/lib/python3.10/site-packages/rdt/transformers/base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(

==============================
Starting to generate data with model in:../datasets/kingcounty/synth-a-1/checkpoint/copulagan.ckp
==============================
==============================
Starting to generate data with model in:../datasets/kingcounty/synth-a-1/checkpoint/tvae.ckp
==============================
==============================
Starting to generate data with model in:../datasets/kingcounty/synth-a-1/checkpoint/gaussiancopula.ckp
==============================
==============================
Starting to generate data with model in:../datasets/kingcounty/synth-a-1/checkpoint/ctgan.ckp
==============================
==============================
Starting to generate data with model in:../datasets/kingcounty/synth-a-1/checkpoint/tablepreset.ckp
==============================
==============================
Starting to generate data with model in:../datasets/kingcounty/synth-a-1/checkpoint/smote-enc.ckp
==============================
==============================
Starting to generate data with model in:../datasets/kingcounty/synth-a-1/checkpoint/tddpm_mlp.ckp
==============================

## Metricas
### Continuas

In [4]:
metrics = syn.current_metrics()
metrics[~metrics.is_categorical].dropna(axis=1, how='all')

yr_built
price
sqft_lot15
sqft_lot
sqft_above
lat
sqft_living15
long
yr_renovated
sqft_basement
sqft_living

/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(

,name,top5,top5_freq,top5_prob,is_categorical,nobs,missing,mean,std_err,upper_ci,...,mode_freq,median,0.1%,1.0%,5.0%,25.0%,75.0%,95.0%,99.0%,99.9%
4,yr_built,"[2014, 2005, 2006, 2004, 2007]","[449, 371, 366, 350, 347]","[0.025968768074031232, 0.02145748987854251, 0....",False,17290.0,0.0,1971.108329,0.223859,1971.547085,...,0.025969,1975.0000,1900.000000,1904.000000,1915.0000,1951.000,1997.000,2.011000e+03,2.014000e+03,2.015000e+03
5,price,"[350000.0, 450000.0, 425000.0, 550000.0, 32500...","[143, 140, 123, 123, 123]","[0.008270676691729323, 0.008097165991902834, 0...",False,17290.0,0.0,537768.047947,2748.953957,543155.898699,...,0.008271,450000.0000,95000.000000,154467.000000,210000.0000,320150.000,640000.000,1.150000e+06,1.950000e+06,3.331995e+06
6,sqft_lot15,"[5000, 4000, 6000, 7200, 4800]","[349, 289, 224, 160, 120]","[0.02018507807981492, 0.016714864083285135, 0....",False,17290.0,0.0,12725.059341,209.331173,13135.340900,...,0.020185,7615.0000,886.289000,1189.000000,1965.0000,5083.000,10046.000,3.682165e+04,1.682959e+05,3.069984e+05
7,sqft_lot,"[5000, 4000, 6000, 7200, 4800]","[301, 209, 208, 179, 98]","[0.017408906882591092, 0.012087912087912088, 0...",False,17290.0,0.0,14798.947368,295.374719,15377.871180,...,0.017409,7600.0000,737.156000,1005.000000,1756.0000,5001.250,10606.750,4.299910e+04,2.121922e+05,4.356000e+05
8,sqft_above,"[1300, 1010, 1200, 1220, 1140]","[166, 165, 160, 152, 148]","[0.009600925390399074, 0.009543088490456911, 0...",False,17290.0,0.0,1785.962175,6.248515,1798.209039,...,0.009601,1560.0000,520.000000,700.000000,850.0000,1200.000,2200.000,3.380000e+03,4.371100e+03,6.070000e+03
9,lat,"[47.5402, 47.6875, 47.686, 47.6624, 47.5518]","[14, 13, 13, 13, 13]","[0.0008097165991902834, 0.0007518796992481203,...",False,17290.0,0.0,47.560330,0.001053,47.562393,...,0.000810,47.5718,47.192729,47.257334,47.3107,47.472,47.678,4.774995e+01,4.777281e+01,4.777670e+01
10,sqft_living15,"[1440, 1540, 1560, 1500, 1610]","[156, 154, 152, 137, 136]","[0.009022556390977444, 0.008906882591093117, 0...",False,17290.0,0.0,1982.904569,5.180812,1993.058774,...,0.009023,1840.0000,740.000000,950.000000,1140.0000,1480.000,2360.000,3.280000e+03,4.050000e+03,4.985550e+03
11,long,"[-122.29, -122.362, -122.288, -122.3, -122.372]","[100, 88, 81, 81, 81]","[0.00578368999421631, 0.005089647194910353, 0....",False,17290.0,0.0,-122.214139,0.001068,-122.212045,...,0.005784,-122.2310,-122.497000,-122.408000,-122.3870,-122.329,-122.125,-1.219790e+02,-1.217870e+02,-1.216989e+02
13,yr_renovated,"[0, 2014, 2005, 2000, 2003]","[16571, 76, 32, 30, 29]","[0.9584152689415847, 0.004395604395604396, 0.0...",False,17290.0,0.0,83.003412,3.030640,88.943358,...,0.958415,0.0000,0.000000,0.000000,0.0000,0.000,0.000,0.000000e+00,2.008000e+03,2.014000e+03
17,sqft_basement,"[0, 600, 700, 500, 800]","[10553, 182, 169, 167, 164]","[0.6103528050896472, 0.010526315789473684, 0.0...",False,17290.0,0.0,287.932736,3.336545,294.472244,...,0.610353,0.0000,0.000000,0.000000,0.0000,0.000,550.000,1.180000e+03,1.650000e+03,2.324220e+03
18,sqft_living,"[1400, 1300, 1720, 1250, 1540]","[109, 107, 106, 106, 105]","[0.006304222093695778, 0.006188548293811452, 0...",False,17290.0,0.0,2073.894910,6.900053,2087.418766,...,0.006304,1910.0000,522.890000,720.000000,940.0000,1430.000,2540.000,3.740000e+03,4.921100e+03,6.965550e+03

In [5]:
print(metrics[~metrics.is_categorical].dropna(axis=1, how='all').head(1).T
      #.style.to_latex()
      )

                                                                  4
name                                                       yr_built
top5                                 [2014, 2005, 2006, 2004, 2007]
top5_freq                                 [449, 371, 366, 350, 347]
top5_prob         [0.025968768074031232, 0.02145748987854251, 0....
is_categorical                                                False
nobs                                                        17290.0
missing                                                         0.0
mean                                                    1971.108329
std_err                                                    0.223859
upper_ci                                                1971.547085
lower_ci                                                1970.669572
std                                                       29.435603
iqr                                                            46.0
iqr_normal                                                34.099851
mad                                                       24.632379
mad_normal                                                30.872109
coef_var                                                   0.014934
range                                                         115.0
max                                                          2015.0
min                                                          1900.0
skew                                                      -0.471787
kurtosis                                                   2.337474
jarque_bera                                              957.630965
jarque_bera_pval                                                0.0
mode                                                         2014.0
mode_freq                                                  0.025969
median                                                       1975.0
0.1%                                                         1900.0
1.0%                                                         1904.0
5.0%                                                         1915.0
25.0%                                                        1951.0
75.0%                                                        1997.0
95.0%                                                        2011.0
99.0%                                                        2014.0
99.9%                                                        2015.0

### Categoricas

## Scores

In [6]:
best_model = "tddpm_mlp"
second_best_model = "smote-enc"
avg = syn.scores[syn.scores["type"] == "avg"]
avg.sort_values("score", ascending=False).loc[:,:]
#["tddpm_mlp_21613","smote-enc_21613","gaussiancopula_noise_21613","tvae_21613", "tvae_noise_21613","gaussiancopula_21613","copulagan_noise_21613","copulagan_21613","ctgan_noise_21613","ctgan_21613"]

,type,score,DCR ST min,DCR ST median,DCR SH min,DCR SH median,DCR TH min,DCR TH median,NNDR ST min,NNDR ST median,...,DCR TH 4th,NNDR ST 4th,NNDR SH 4th,NNDR TH 4th,DCR ST 5th,DCR SH 5th,DCR TH 5th,NNDR ST 5th,NNDR SH 5th,NNDR TH 5th
name,,,,,,,,,,,,,,,,,,,,,
tddpm_mlp,avg,0.952689,0.009899,0.121249,0.018193,0.155043,0.0,0.153296,0.137955,0.908400,...,0.031358,0.588012,0.583750,0.326829,0.058378,0.077012,0.03575,0.612164,0.608169,0.375854
smote-enc,avg,0.952646,0.000000,0.066770,0.001107,0.134084,0.0,0.153296,0.000000,0.779977,...,0.031358,0.173220,0.373458,0.326829,0.007228,0.037418,0.03575,0.201613,0.416489,0.375854
tablepreset,avg,0.836980,0.078967,0.315500,0.085301,0.342772,0.0,0.153296,0.450519,0.967439,...,0.031358,0.810137,0.803688,0.326829,0.180160,0.199969,0.03575,0.825372,0.818240,0.375854
ctgan,avg,0.832274,0.084916,0.384837,0.118942,0.416981,0.0,0.153296,0.461753,0.961595,...,0.031358,0.803488,0.802830,0.326829,0.217130,0.239812,0.03575,0.818162,0.816103,0.375854
gaussiancopula,avg,0.787893,0.078828,0.435557,0.126695,0.493878,0.0,0.153296,0.390005,0.940247,...,0.031358,0.736567,0.734955,0.326829,0.262619,0.306095,0.03575,0.753418,0.752466,0.375854
copulagan,avg,0.785707,0.185504,0.526842,0.215969,0.584785,0.0,0.153296,0.542963,0.956260,...,0.031358,0.813382,0.816341,0.326829,0.364287,0.403792,0.03575,0.823719,0.827309,0.375854
tvae,avg,0.735253,0.034065,0.139694,0.033931,0.158563,0.0,0.153296,0.355204,0.941242,...,0.031358,0.717269,0.689719,0.326829,0.080863,0.099092,0.03575,0.733091,0.707343,0.375854

In [7]:
avg.loc[["ctgan"],:].T

name               ctgan
type                 avg
score           0.832274
DCR ST min      0.084916
DCR ST median   0.384837
DCR SH min      0.118942
DCR SH median   0.416981
DCR TH min           0.0
DCR TH median   0.153296
NNDR ST min     0.461753
NNDR ST median  0.961595
NNDR SH min     0.353641
NNDR SH median  0.960473
NNDR TH min          0.0
NNDR TH median  0.876758
DCR ST 1th      0.169646
DCR SH 1th      0.187273
DCR TH 1th      0.007944
NNDR ST 1th     0.721002
NNDR SH 1th     0.717766
NNDR TH 1th      0.07981
DCR ST 2th      0.187475
DCR SH 2th      0.207986
DCR TH 2th      0.015973
NNDR ST 2th     0.760829
NNDR SH 2th     0.757978
NNDR TH 2th     0.177094
DCR ST 3th      0.199567
DCR SH 3th      0.221456
DCR TH 3th      0.023612
NNDR ST 3th     0.786667
NNDR SH 3th     0.784063
NNDR TH 3th     0.260081
DCR ST 4th      0.209064
DCR SH 4th       0.23177
DCR TH 4th      0.031358
NNDR ST 4th     0.803488
NNDR SH 4th      0.80283
NNDR TH 4th     0.326829
DCR ST 5th       0.21713
DCR SH 5th      0.239812
DCR TH 5th       0.03575
NNDR ST 5th     0.818162
NNDR SH 5th     0.816103
NNDR TH 5th     0.375854

In [ ]:
syn.scores[syn.scores["type"] == "avg"].sort_values("score", ascending=False).loc[:,["DCR ST 5th", "DCR SH 5th", "DCR TH 5th","NNDR ST 5th", "NNDR SH 5th", "NNDR TH 5th", "score"]].reset_index().rename(columns={'name':"Modelo", "score": "textbf{Score}", "DCR ST 5th":"DCR ST", "DCR SH 5th": "DCR SH", "DCR TH 5th": "DCR TH"})

In [ ]:
np.count_nonzero( syn.dist.loc["tddpm_mlp", "DCR ST"] ) / len(syn.dist.loc["tddpm_mlp", "DCR ST"])

In [ ]:
np.min( syn.dist.loc["tddpm_mlp", "DCR ST"] )

In [ ]:
import numpy as np
np.quantile(syn.dist.loc["tddpm_mlp", "DCR ST"], 0.000000001)

In [ ]:
print(avg.sort_values("score", ascending=False).loc[["tddpm_mlp","smote-enc","tvae", "gaussiancopula","copulagan","ctgan"],["score", "DCR ST 5th", "DCR SH 5th", "DCR TH 5th", "NNDR ST 5th", "NNDR SH 5th", "NNDR TH 5th"]].style.to_latex().replace("_", "\_"))

In [ ]:
syn.scores.type.unique()

In [ ]:
f = syn.scores.sort_values("score", ascending=False).loc[:
    ,["type", "score"]].reset_index().pivot(index="name", 
                                            columns=["type"],values="score").sort_values(
    "avg", ascending=False).rename(columns={'avg':'Score'}).loc[:,
    ["Column Pair Trends", "Column Shapes", "Coverage", "Boundaries", "Score"]].reset_index().rename(columns={"name": "Model Name"})
display(f)

In [ ]:
t = f.rename(columns={"Score":"\\textbf{Score}"})
print(
    t.style
    .hide(axis="index")
    .format(precision=3)
    .format("\hline {}", t.columns[0], escape="latex")
    .set_table_styles([
        {'selector': 'toprule', 'props': ':hline\n \\rowcolor[gray]{0.8};'},
        {'selector': 'bottomrule', 'props': ':hline;'}
    ], overwrite=False)
    .highlight_max(
        subset=t.columns[1:],
        props='cellcolor:[HTML]{EEEEEE};'
    )
    .to_latex(

        #column_format = "|l|m{5em}|m{5em}|r|r|r|",
        column_format = f"|l|{'r|'*len(f.columns[1:])}",
        position="H",
        position_float="centering",
        caption = "test",
        label = "test",
        clines=None
    )
)

In [ ]:
f.columns

In [ ]:
from syntheticml.data.charts import Charts
import os
folder_path = f"../docs/tesis/imagenes/kingcounty/{best_model}"
if not os.path.exists(folder_path):
    os.mkdir(folder_path)
for fig in syn.get_charts(best_model, {'date', 'id', 'zipcode', 'lat', 'long', 'yr_renovated'}):
    if fig:
        file_name = f'{fig.layout.title.text.replace(":","").replace(" ","_").lower()}.svg'
        fig.write_image(f"{folder_path}/{file_name}")
        display(fig.show("png"))

In [ ]:
import os
folder_path = f"../docs/tesis/imagenes/kingcounty/top2+1"
if not os.path.exists(folder_path):
    os.mkdir(folder_path)
for fig in syn.get_multiple_charts([best_model,second_best_model,"copulagan"], {'date', 'id', 'zipcode', 'lat', 'long', 'yr_renovated'}):
    if fig:
        file_name = f'{fig.layout.title.text.replace(":","").replace(" ","_").lower()}.svg'
        fig.write_image(f"{folder_path}/{file_name}")
        display(fig.show("png"))

In [ ]:
from syntheticml.data.charts import Charts
import os
folder_path = f"../docs/tesis/imagenes/kingcounty/{second_best_model}"
if not os.path.exists(folder_path):
    os.mkdir(folder_path)
for fig in syn.get_charts(second_best_model, {'date', 'id', 'zipcode', 'lat', 'long', 'yr_renovated'}):
    if fig:
        file_name = f'{fig.layout.title.text.replace(":","").replace(" ","_").lower()}.svg'
        fig.write_image(f"{folder_path}/{file_name}")
        display(fig.show("png"))

In [ ]:
syn.charts.pair_corr(syn.df, syn.fake_data[best_model], {'id', 'waterfront', 'yr_renovated'}, "price").update_layout(dict(width=1000)).show("png")

In [ ]:
current_metrics = syn.current_metrics()
fake_metrics = syn.get_metrics_fake()

In [ ]:
columns = ["bathrooms", "sqft_lot", "sqft_above", "price", "sqft_lot15", "sqft_living", "sqft_basement", "yr_built", "sqft_living15", "grade"]

In [ ]:
current_metrics.loc[(current_metrics.name.isin(columns) & current_metrics.is_categorical),:].dropna(axis=1, how='all')

In [ ]:
models = ["smote-enc", "tddpm_mlp"]
prop_cat = ["name", "top5", "top5_prob"]
import numpy as np
columns = list(current_metrics.name.unique())
dfs = [
    current_metrics.loc[(current_metrics.name.isin(columns) & current_metrics.is_categorical),prop_cat].dropna(axis=1, how='all').assign(model="Real")
]
for model_name in models:
    dfs.append(fake_metrics[model_name].loc[(fake_metrics[model_name].name.isin(columns) & fake_metrics[model_name].is_categorical),prop_cat].dropna(axis=1, how='all').assign(model=model_name))

diffdf = pd.concat(dfs).sort_values(["name", "model"], ascending=[True, True]).loc[:, ["model", "name"] + prop_cat[1:]]


for name in diffdf.name.unique():
    #print(name)
    #print(diffdf.loc[((diffdf.name == name) & (diffdf.model != "Real")) , ["top5_prob"]])
    #print(diffdf.loc[((diffdf.name == name) & (diffdf.model == "Real")), ["top5_prob"]])
    #diffdf.loc[((diffdf.name == name) & (diffdf.model != "Real")), ["top5_prob"]] = np.abs(diffdf.loc[((diffdf.name == name) & (diffdf.model != "Real")) , ["top5_prob"]].values
    #    - diffdf.loc[((diffdf.name == name) & (diffdf.model == "Real")), ["top5_prob"]].values)
    #print(
    #    np.array(np.abs(diffdf.loc[((diffdf.name == name) & (diffdf.model != "Real")) , ["top5_prob"]].values
    #    - diffdf.loc[((diffdf.name == name) & (diffdf.model == "Real")), ["top5_prob"]].values).tolist()).reshape(-1,5).sum(axis=1).reshape(-1,1)
    #)

    #diffdf.loc[((diffdf.name == name) & (diffdf.model != "Real")), ["top5_prob"]] = np.array(np.abs(diffdf.loc[((diffdf.name == name) & (diffdf.model != "Real")) , ["top5_prob"]].values
    #    - diffdf.loc[((diffdf.name == name) & (diffdf.model == "Real")), ["top5_prob"]].values).tolist()).reshape(-1,5).sum(axis=1).reshape(-1,1)

    #diffdf.loc[((diffdf.name == name) & (diffdf.model != "Real")), ["top5_prob"]] = np.array(np.abs(diffdf.loc[((diffdf.name == name) & (diffdf.model != "Real")) , ["top5_prob"]].values
    #- diffdf.loc[((diffdf.name == name) & (diffdf.model == "Real")), ["top5_prob"]].values).tolist()).sum(axis=2)
    pass
diffdf
#print(diffdf.style.to_latex().replace("_", "\_"))

In [ ]:
models = ["smote-enc", "tddpm_mlp"]
prop_cat = ["name", "range", "min", "1.0%", "mean", "99.0%", "max"]
import numpy as np
columns = list(current_metrics.name.unique())
dfs = [
    current_metrics.loc[(current_metrics.name.isin(columns) & ~current_metrics.is_categorical),prop_cat].dropna(axis=1, how='all').assign(model="Real")
]
for model_name in models:
    dfs.append(fake_metrics[model_name].loc[(fake_metrics[model_name].name.isin(columns) & ~fake_metrics[model_name].is_categorical),prop_cat].dropna(axis=1, how='all').assign(model=model_name))

diffdf = pd.concat(dfs).sort_values(["name", "model"], ascending=[True, True]).loc[:, ["model", "name"] + prop_cat[1:]]
diffdf

In [ ]:
k['smote-enc']['report']['column_pair_trends']
#k['smote-enc_21613']['report']['column_shape']

In [ ]:
pd.concat(
    [k[model_name]['report']['column_pair_trends'].loc[:,["Column 1", "Quality Score"]].groupby("Column 1").mean(numeric_only=True).assign(model=model_name) for model_name in models]
).reset_index().pivot(index=["Column 1"], values="Quality Score", columns="model").sort_values("smote-enc", ascending=False)

In [ ]:
display(
    pd.concat(
    [k[model_name]['report']['column_shape'].assign(model=model_name) for model_name in models]
).pivot(index=["Column","Metric"], values="Quality Score", columns="model").sort_values("smote-enc", ascending=False)
#.style.to_latex().replace("_", "\_")
)

In [ ]:
f = pd.concat(
    [
        k[model_name]['diagnostic']['coverage'].assign(model=model_name) 
        for model_name in models
    ]
    ).pivot(index=["Column","Metric"], 
            values="Diagnostic Score", columns="model").sort_values("smote-enc", ascending=False).reset_index().rename(columns={"Column": "Columna", "Metric":"Metrica", "smote-enc":"smote-enc $\\uparrow$"})


display(
    f.style.hide(axis=0)
)

In [ ]:
pair_trends = k['smote-enc']['report']['column_pair_trends']
pair_trends[pair_trends['Column 1'] == "price"]