# King County

In [1]:
import pandas as pd
df = pd.read_csv('../datasets/kingcounty/raw/kc_house_data.csv');
df.sample(3)
DATASET_VERSION = "a-1"

In [2]:
%%capture
from syntheticml.data.synthetic import Synthetic, MODELS
syn = Synthetic(df,
                    id="id",
                    category_columns=("condition", "floors", "grade", "view",
                                      "waterfront", "zipcode", "bathrooms", "bedrooms",),
                    synthetic_folder=f"../datasets/kingcounty/synth-{DATASET_VERSION}",
                    models=MODELS.keys(),
                    n_sample=21613,
                    max_cpu_pool=1,
                    target_column="price",
                    model_parameters=dict(
                        tddpm_mlp=dict(
                                batch_size=3750,
                                steps=1000000,
                                num_timesteps=100,
                                lr=5e-4,
                                model_params=dict(
                                        rtdl_params=dict(
                                                dropout=0.0,
                                                d_layers=[1024, 512, 256]
                                        )
                                )
                        )
                    )
                    )

In [3]:
syn.process()
syn.process_scores()

Fitting Models
Params
{'metadata': {
    "columns": {
        "id": {
            "sdtype": "numerical"
        },
        "date": {
            "sdtype": "categorical"
        },
        "price": {
            "sdtype": "numerical"
        },
        "bedrooms": {
            "sdtype": "categorical"
        },
        "bathrooms": {
            "sdtype": "categorical"
        },
        "sqft_living": {
            "sdtype": "numerical"
        },
        "sqft_lot": {
            "sdtype": "numerical"
        },
        "floors": {
            "sdtype": "categorical"
        },
        "waterfront": {
            "sdtype": "categorical"
        },
        "view": {
            "sdtype": "categorical"
        },
        "condition": {
            "sdtype": "categorical"
        },
        "grade": {
            "sdtype": "categorical"
        },
        "sqft_above": {
            "sdtype": "numerical"
        },
        "sqft_basement": {
            "sdtype": "numerical"
        },
        "yr_built": {
            "sdtype": "numerical"
        },
        "yr_renovated": {
            "sdtype": "numerical"
        },
        "zipcode": {
            "sdtype": "categorical"
        },
        "lat": {
            "sdtype": "numerical"
        },
        "long": {
            "sdtype": "numerical"
        },
        "sqft_living15": {
            "sdtype": "numerical"
        },
        "sqft_lot15": {
            "sdtype": "numerical"
        }
    },
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1"
}, 'batch_size': 50000, 'cuda': True, 'verbose': True}

Params
{'metadata': {
    "columns": {
        "id": {
            "sdtype": "numerical"
        },
        "date": {
            "sdtype": "categorical"
        },
        "price": {
            "sdtype": "numerical"
        },
        "bedrooms": {
            "sdtype": "categorical"
        },
        "bathrooms": {
            "sdtype": "categorical"
        },
        "sqft_living": {
            "sdtype": "numerical"
        },
        "sqft_lot": {
            "sdtype": "numerical"
        },
        "floors": {
            "sdtype": "categorical"
        },
        "waterfront": {
            "sdtype": "categorical"
        },
        "view": {
            "sdtype": "categorical"
        },
        "condition": {
            "sdtype": "categorical"
        },
        "grade": {
            "sdtype": "categorical"
        },
        "sqft_above": {
            "sdtype": "numerical"
        },
        "sqft_basement": {
            "sdtype": "numerical"
        },
        "yr_built": {
            "sdtype": "numerical"
        },
        "yr_renovated": {
            "sdtype": "numerical"
        },
        "zipcode": {
            "sdtype": "categorical"
        },
        "lat": {
            "sdtype": "numerical"
        },
        "long": {
            "sdtype": "numerical"
        },
        "sqft_living15": {
            "sdtype": "numerical"
        },
        "sqft_lot15": {
            "sdtype": "numerical"
        }
    },
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1"
}, 'batch_size': 50000, 'cuda': True}

Params
{'metadata': {
    "columns": {
        "id": {
            "sdtype": "numerical"
        },
        "date": {
            "sdtype": "categorical"
        },
        "price": {
            "sdtype": "numerical"
        },
        "bedrooms": {
            "sdtype": "categorical"
        },
        "bathrooms": {
            "sdtype": "categorical"
        },
        "sqft_living": {
            "sdtype": "numerical"
        },
        "sqft_lot": {
            "sdtype": "numerical"
        },
        "floors": {
            "sdtype": "categorical"
        },
        "waterfront": {
            "sdtype": "categorical"
        },
        "view": {
            "sdtype": "categorical"
        },
        "condition": {
            "sdtype": "categorical"
        },
        "grade": {
            "sdtype": "categorical"
        },
        "sqft_above": {
            "sdtype": "numerical"
        },
        "sqft_basement": {
            "sdtype": "numerical"
        },
        "yr_built": {
            "sdtype": "numerical"
        },
        "yr_renovated": {
            "sdtype": "numerical"
        },
        "zipcode": {
            "sdtype": "categorical"
        },
        "lat": {
            "sdtype": "numerical"
        },
        "long": {
            "sdtype": "numerical"
        },
        "sqft_living15": {
            "sdtype": "numerical"
        },
        "sqft_lot15": {
            "sdtype": "numerical"
        }
    },
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1"
}}

Params
{'metadata': {
    "columns": {
        "id": {
            "sdtype": "numerical"
        },
        "date": {
            "sdtype": "categorical"
        },
        "price": {
            "sdtype": "numerical"
        },
        "bedrooms": {
            "sdtype": "categorical"
        },
        "bathrooms": {
            "sdtype": "categorical"
        },
        "sqft_living": {
            "sdtype": "numerical"
        },
        "sqft_lot": {
            "sdtype": "numerical"
        },
        "floors": {
            "sdtype": "categorical"
        },
        "waterfront": {
            "sdtype": "categorical"
        },
        "view": {
            "sdtype": "categorical"
        },
        "condition": {
            "sdtype": "categorical"
        },
        "grade": {
            "sdtype": "categorical"
        },
        "sqft_above": {
            "sdtype": "numerical"
        },
        "sqft_basement": {
            "sdtype": "numerical"
        },
        "yr_built": {
            "sdtype": "numerical"
        },
        "yr_renovated": {
            "sdtype": "numerical"
        },
        "zipcode": {
            "sdtype": "categorical"
        },
        "lat": {
            "sdtype": "numerical"
        },
        "long": {
            "sdtype": "numerical"
        },
        "sqft_living15": {
            "sdtype": "numerical"
        },
        "sqft_lot15": {
            "sdtype": "numerical"
        }
    },
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1"
}, 'batch_size': 50000, 'cuda': True, 'verbose': True}

Params
{'metadata': {
    "columns": {
        "id": {
            "sdtype": "numerical"
        },
        "date": {
            "sdtype": "categorical"
        },
        "price": {
            "sdtype": "numerical"
        },
        "bedrooms": {
            "sdtype": "categorical"
        },
        "bathrooms": {
            "sdtype": "categorical"
        },
        "sqft_living": {
            "sdtype": "numerical"
        },
        "sqft_lot": {
            "sdtype": "numerical"
        },
        "floors": {
            "sdtype": "categorical"
        },
        "waterfront": {
            "sdtype": "categorical"
        },
        "view": {
            "sdtype": "categorical"
        },
        "condition": {
            "sdtype": "categorical"
        },
        "grade": {
            "sdtype": "categorical"
        },
        "sqft_above": {
            "sdtype": "numerical"
        },
        "sqft_basement": {
            "sdtype": "numerical"
        },
        "yr_built": {
            "sdtype": "numerical"
        },
        "yr_renovated": {
            "sdtype": "numerical"
        },
        "zipcode": {
            "sdtype": "categorical"
        },
        "lat": {
            "sdtype": "numerical"
        },
        "long": {
            "sdtype": "numerical"
        },
        "sqft_living15": {
            "sdtype": "numerical"
        },
        "sqft_lot15": {
            "sdtype": "numerical"
        }
    },
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1"
}}

Params
{'table_metadata': {
    "columns": {
        "id": {
            "sdtype": "numerical"
        },
        "date": {
            "sdtype": "categorical"
        },
        "price": {
            "sdtype": "numerical"
        },
        "bedrooms": {
            "sdtype": "categorical"
        },
        "bathrooms": {
            "sdtype": "categorical"
        },
        "sqft_living": {
            "sdtype": "numerical"
        },
        "sqft_lot": {
            "sdtype": "numerical"
        },
        "floors": {
            "sdtype": "categorical"
        },
        "waterfront": {
            "sdtype": "categorical"
        },
        "view": {
            "sdtype": "categorical"
        },
        "condition": {
            "sdtype": "categorical"
        },
        "grade": {
            "sdtype": "categorical"
        },
        "sqft_above": {
            "sdtype": "numerical"
        },
        "sqft_basement": {
            "sdtype": "numerical"
        },
        "yr_built": {
            "sdtype": "numerical"
        },
        "yr_renovated": {
            "sdtype": "numerical"
        },
        "zipcode": {
            "sdtype": "categorical"
        },
        "lat": {
            "sdtype": "numerical"
        },
        "long": {
            "sdtype": "numerical"
        },
        "sqft_living15": {
            "sdtype": "numerical"
        },
        "sqft_lot15": {
            "sdtype": "numerical"
        }
    },
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1"
}, 'target_column': 'price', 'exclude_columns': (), 'batch_size': 50000}

Params
{'table_metadata': {
    "columns": {
        "id": {
            "sdtype": "numerical"
        },
        "date": {
            "sdtype": "categorical"
        },
        "price": {
            "sdtype": "numerical"
        },
        "bedrooms": {
            "sdtype": "categorical"
        },
        "bathrooms": {
            "sdtype": "categorical"
        },
        "sqft_living": {
            "sdtype": "numerical"
        },
        "sqft_lot": {
            "sdtype": "numerical"
        },
        "floors": {
            "sdtype": "categorical"
        },
        "waterfront": {
            "sdtype": "categorical"
        },
        "view": {
            "sdtype": "categorical"
        },
        "condition": {
            "sdtype": "categorical"
        },
        "grade": {
            "sdtype": "categorical"
        },
        "sqft_above": {
            "sdtype": "numerical"
        },
        "sqft_basement": {
            "sdtype": "numerical"
        },
        "yr_built": {
            "sdtype": "numerical"
        },
        "yr_renovated": {
            "sdtype": "numerical"
        },
        "zipcode": {
            "sdtype": "categorical"
        },
        "lat": {
            "sdtype": "numerical"
        },
        "long": {
            "sdtype": "numerical"
        },
        "sqft_living15": {
            "sdtype": "numerical"
        },
        "sqft_lot15": {
            "sdtype": "numerical"
        }
    },
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1"
}, 'checkpoint': '../datasets/kingcounty/synth-a-1/checkpoint/tddpm_mlp', 'target_column': 'price', 'exclude_columns': (), 'batch_size': 3750, 'steps': 1000000, 'num_timesteps': 100, 'lr': 0.0005, 'model_params': {'rtdl_params': {'dropout': 0.0, 'd_layers': [1024, 512, 256]}}}

/usr/local/python/3.10.12/lib/python3.10/site-packages/rdt/transformers/base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(

==============================
Starting to generate data with model in:../datasets/kingcounty/synth-a-1/checkpoint/copulagan.ckp
==============================
==============================
Starting to generate data with model in:../datasets/kingcounty/synth-a-1/checkpoint/tvae.ckp
==============================
==============================
Starting to generate data with model in:../datasets/kingcounty/synth-a-1/checkpoint/gaussiancopula.ckp
==============================
==============================
Starting to generate data with model in:../datasets/kingcounty/synth-a-1/checkpoint/ctgan.ckp
==============================
==============================
Starting to generate data with model in:../datasets/kingcounty/synth-a-1/checkpoint/tablepreset.ckp
==============================
==============================
Starting to generate data with model in:../datasets/kingcounty/synth-a-1/checkpoint/smote-enc.ckp
==============================
==============================
Starting to generate data with model in:../datasets/kingcounty/synth-a-1/checkpoint/tddpm_mlp.ckp
==============================

## Metricas
### Continuas

In [4]:
metrics = syn.current_metrics()
metrics[~metrics.is_categorical].dropna(axis=1, how='all')

sqft_living
sqft_living15
sqft_lot15
yr_renovated
price
long
sqft_basement
lat
yr_built
sqft_lot
sqft_above

/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(

,name,top5,top5_freq,top5_prob,is_categorical,nobs,missing,mean,std_err,upper_ci,...,mode_freq,median,0.1%,1.0%,5.0%,25.0%,75.0%,95.0%,99.0%,99.9%
1,sqft_living,"[1400, 1300, 1720, 1250, 1540]","[109, 107, 106, 106, 105]","[0.006304222093695778, 0.006188548293811452, 0...",False,17290.0,0.0,2073.894910,6.900053,2087.418766,...,0.006304,1910.0000,522.890000,720.000000,940.0000,1430.000,2540.000,3.740000e+03,4.921100e+03,6.965550e+03
2,sqft_living15,"[1440, 1540, 1560, 1500, 1610]","[156, 154, 152, 137, 136]","[0.009022556390977444, 0.008906882591093117, 0...",False,17290.0,0.0,1982.904569,5.180812,1993.058774,...,0.009023,1840.0000,740.000000,950.000000,1140.0000,1480.000,2360.000,3.280000e+03,4.050000e+03,4.985550e+03
5,sqft_lot15,"[5000, 4000, 6000, 7200, 4800]","[349, 289, 224, 160, 120]","[0.02018507807981492, 0.016714864083285135, 0....",False,17290.0,0.0,12725.059341,209.331173,13135.340900,...,0.020185,7615.0000,886.289000,1189.000000,1965.0000,5083.000,10046.000,3.682165e+04,1.682959e+05,3.069984e+05
6,yr_renovated,"[0, 2014, 2005, 2000, 2003]","[16571, 76, 32, 30, 29]","[0.9584152689415847, 0.004395604395604396, 0.0...",False,17290.0,0.0,83.003412,3.030640,88.943358,...,0.958415,0.0000,0.000000,0.000000,0.0000,0.000,0.000,0.000000e+00,2.008000e+03,2.014000e+03
7,price,"[350000.0, 450000.0, 425000.0, 550000.0, 32500...","[143, 140, 123, 123, 123]","[0.008270676691729323, 0.008097165991902834, 0...",False,17290.0,0.0,537768.047947,2748.953957,543155.898699,...,0.008271,450000.0000,95000.000000,154467.000000,210000.0000,320150.000,640000.000,1.150000e+06,1.950000e+06,3.331995e+06
10,long,"[-122.29, -122.362, -122.288, -122.3, -122.372]","[100, 88, 81, 81, 81]","[0.00578368999421631, 0.005089647194910353, 0....",False,17290.0,0.0,-122.214139,0.001068,-122.212045,...,0.005784,-122.2310,-122.497000,-122.408000,-122.3870,-122.329,-122.125,-1.219790e+02,-1.217870e+02,-1.216989e+02
12,sqft_basement,"[0, 600, 700, 500, 800]","[10553, 182, 169, 167, 164]","[0.6103528050896472, 0.010526315789473684, 0.0...",False,17290.0,0.0,287.932736,3.336545,294.472244,...,0.610353,0.0000,0.000000,0.000000,0.0000,0.000,550.000,1.180000e+03,1.650000e+03,2.324220e+03
14,lat,"[47.5402, 47.6875, 47.686, 47.6624, 47.5518]","[14, 13, 13, 13, 13]","[0.0008097165991902834, 0.0007518796992481203,...",False,17290.0,0.0,47.560330,0.001053,47.562393,...,0.000810,47.5718,47.192729,47.257334,47.3107,47.472,47.678,4.774995e+01,4.777281e+01,4.777670e+01
15,yr_built,"[2014, 2005, 2006, 2004, 2007]","[449, 371, 366, 350, 347]","[0.025968768074031232, 0.02145748987854251, 0....",False,17290.0,0.0,1971.108329,0.223859,1971.547085,...,0.025969,1975.0000,1900.000000,1904.000000,1915.0000,1951.000,1997.000,2.011000e+03,2.014000e+03,2.015000e+03
16,sqft_lot,"[5000, 4000, 6000, 7200, 4800]","[301, 209, 208, 179, 98]","[0.017408906882591092, 0.012087912087912088, 0...",False,17290.0,0.0,14798.947368,295.374719,15377.871180,...,0.017409,7600.0000,737.156000,1005.000000,1756.0000,5001.250,10606.750,4.299910e+04,2.121922e+05,4.356000e+05
19,sqft_above,"[1300, 1010, 1200, 1220, 1140]","[166, 165, 160, 152, 148]","[0.009600925390399074, 0.009543088490456911, 0...",False,17290.0,0.0,1785.962175,6.248515,1798.209039,...,0.009601,1560.0000,520.000000,700.000000,850.0000,1200.000,2200.000,3.380000e+03,4.371100e+03,6.070000e+03

In [5]:
print(metrics[~metrics.is_categorical].dropna(axis=1, how='all').head(1).T
      #.style.to_latex()
      )

                                                                  1
name                                                    sqft_living
top5                                 [1400, 1300, 1720, 1250, 1540]
top5_freq                                 [109, 107, 106, 106, 105]
top5_prob         [0.006304222093695778, 0.006188548293811452, 0...
is_categorical                                                False
nobs                                                        17290.0
missing                                                         0.0
mean                                                     2073.89491
std_err                                                    6.900053
upper_ci                                                2087.418766
lower_ci                                                2060.371055
std                                                      907.297963
iqr                                                          1110.0
iqr_normal                                               822.844231
mad                                                      693.180169
mad_normal                                               868.772506
coef_var                                                   0.437485
range                                                       11760.0
max                                                         12050.0
min                                                           290.0
skew                                                       1.370859
kurtosis                                                   7.166622
jarque_bera                                            17922.347382
jarque_bera_pval                                                0.0
mode                                                         1400.0
mode_freq                                                  0.006304
median                                                       1910.0
0.1%                                                         522.89
1.0%                                                          720.0
5.0%                                                          940.0
25.0%                                                        1430.0
75.0%                                                        2540.0
95.0%                                                        3740.0
99.0%                                                        4921.1
99.9%                                                       6965.55

In [6]:
metrics[~metrics.is_categorical].dropna(axis=1, how='all')

,name,top5,top5_freq,top5_prob,is_categorical,nobs,missing,mean,std_err,upper_ci,...,mode_freq,median,0.1%,1.0%,5.0%,25.0%,75.0%,95.0%,99.0%,99.9%
1,sqft_living,"[1400, 1300, 1720, 1250, 1540]","[109, 107, 106, 106, 105]","[0.006304222093695778, 0.006188548293811452, 0...",False,17290.0,0.0,2073.894910,6.900053,2087.418766,...,0.006304,1910.0000,522.890000,720.000000,940.0000,1430.000,2540.000,3.740000e+03,4.921100e+03,6.965550e+03
2,sqft_living15,"[1440, 1540, 1560, 1500, 1610]","[156, 154, 152, 137, 136]","[0.009022556390977444, 0.008906882591093117, 0...",False,17290.0,0.0,1982.904569,5.180812,1993.058774,...,0.009023,1840.0000,740.000000,950.000000,1140.0000,1480.000,2360.000,3.280000e+03,4.050000e+03,4.985550e+03
5,sqft_lot15,"[5000, 4000, 6000, 7200, 4800]","[349, 289, 224, 160, 120]","[0.02018507807981492, 0.016714864083285135, 0....",False,17290.0,0.0,12725.059341,209.331173,13135.340900,...,0.020185,7615.0000,886.289000,1189.000000,1965.0000,5083.000,10046.000,3.682165e+04,1.682959e+05,3.069984e+05
6,yr_renovated,"[0, 2014, 2005, 2000, 2003]","[16571, 76, 32, 30, 29]","[0.9584152689415847, 0.004395604395604396, 0.0...",False,17290.0,0.0,83.003412,3.030640,88.943358,...,0.958415,0.0000,0.000000,0.000000,0.0000,0.000,0.000,0.000000e+00,2.008000e+03,2.014000e+03
7,price,"[350000.0, 450000.0, 425000.0, 550000.0, 32500...","[143, 140, 123, 123, 123]","[0.008270676691729323, 0.008097165991902834, 0...",False,17290.0,0.0,537768.047947,2748.953957,543155.898699,...,0.008271,450000.0000,95000.000000,154467.000000,210000.0000,320150.000,640000.000,1.150000e+06,1.950000e+06,3.331995e+06
10,long,"[-122.29, -122.362, -122.288, -122.3, -122.372]","[100, 88, 81, 81, 81]","[0.00578368999421631, 0.005089647194910353, 0....",False,17290.0,0.0,-122.214139,0.001068,-122.212045,...,0.005784,-122.2310,-122.497000,-122.408000,-122.3870,-122.329,-122.125,-1.219790e+02,-1.217870e+02,-1.216989e+02
12,sqft_basement,"[0, 600, 700, 500, 800]","[10553, 182, 169, 167, 164]","[0.6103528050896472, 0.010526315789473684, 0.0...",False,17290.0,0.0,287.932736,3.336545,294.472244,...,0.610353,0.0000,0.000000,0.000000,0.0000,0.000,550.000,1.180000e+03,1.650000e+03,2.324220e+03
14,lat,"[47.5402, 47.6875, 47.686, 47.6624, 47.5518]","[14, 13, 13, 13, 13]","[0.0008097165991902834, 0.0007518796992481203,...",False,17290.0,0.0,47.560330,0.001053,47.562393,...,0.000810,47.5718,47.192729,47.257334,47.3107,47.472,47.678,4.774995e+01,4.777281e+01,4.777670e+01
15,yr_built,"[2014, 2005, 2006, 2004, 2007]","[449, 371, 366, 350, 347]","[0.025968768074031232, 0.02145748987854251, 0....",False,17290.0,0.0,1971.108329,0.223859,1971.547085,...,0.025969,1975.0000,1900.000000,1904.000000,1915.0000,1951.000,1997.000,2.011000e+03,2.014000e+03,2.015000e+03
16,sqft_lot,"[5000, 4000, 6000, 7200, 4800]","[301, 209, 208, 179, 98]","[0.017408906882591092, 0.012087912087912088, 0...",False,17290.0,0.0,14798.947368,295.374719,15377.871180,...,0.017409,7600.0000,737.156000,1005.000000,1756.0000,5001.250,10606.750,4.299910e+04,2.121922e+05,4.356000e+05
19,sqft_above,"[1300, 1010, 1200, 1220, 1140]","[166, 165, 160, 152, 148]","[0.009600925390399074, 0.009543088490456911, 0...",False,17290.0,0.0,1785.962175,6.248515,1798.209039,...,0.009601,1560.0000,520.000000,700.000000,850.0000,1200.000,2200.000,3.380000e+03,4.371100e+03,6.070000e+03

In [7]:
metrics[metrics.is_categorical].dropna(axis=1, how='all')

,name,top5,top5_freq,top5_prob,is_categorical,nobs,missing
0,bedrooms,"[3, 4, 2, 5, 6]","[7865, 5477, 2237, 1292, 212]","[0.4548872180451128, 0.3167727009832273, 0.129...",True,17290.0,17290.0
3,zipcode,"[98103, 98038, 98115, 98052, 98117]","[489, 473, 462, 459, 455]","[0.028282244071717755, 0.027356853672643146, 0...",True,17290.0,17290.0
4,bathrooms,"[2.5, 1.0, 1.75, 2.25, 2.0]","[4333, 3088, 2425, 1621, 1526]","[0.2506072874493927, 0.17860034702139965, 0.14...",True,17290.0,17290.0
8,floors,"[1.0, 2.0, 1.5, 3.0, 2.5]","[8488, 6628, 1523, 517, 128]","[0.4909196067090804, 0.383342972816657, 0.0880...",True,17290.0,17290.0
9,view,"[0, 2, 3, 1, 4]","[15586, 783, 396, 275, 250]","[0.901445922498554, 0.045286292654713706, 0.02...",True,17290.0,17290.0
11,waterfront,"[0, 1]","[17166, 124]","[0.9928282244071718, 0.007171775592828224]",True,17290.0,17290.0
13,grade,"[7, 8, 9, 6, 10]","[7201, 4879, 2072, 1620, 915]","[0.4164835164835165, 0.28218623481781374, 0.11...",True,17290.0,17290.0
17,condition,"[3, 4, 5, 2, 1]","[11248, 4512, 1364, 139, 27]","[0.6505494505494506, 0.2609600925390399, 0.078...",True,17290.0,17290.0
18,date,"[20140623T000000, 20140625T000000, 20140626T00...","[123, 105, 101, 101, 101]","[0.007113938692886061, 0.006072874493927126, 0...",True,17290.0,17290.0

In [20]:
field_name = "bedrooms"
real = metrics[(metrics.name == field_name)].dropna(axis=1, how='all')

In [28]:
models = ["tddpm_mlp", "smote-enc", "ctgan"]
dfs = []
for model in models:
    m = fakes[model]
    dfs.append(
         m[(m.name == field_name)].dropna(axis=1, how='all').assign(model=model)
    )

In [29]:
pd.concat(
    [real.assign(model="Real")] + dfs
).set_index(["name", "model"]).T

name                                                     bedrooms  \
model                                                        Real
top5                                              [3, 4, 2, 5, 6]
top5_freq                           [7865, 5477, 2237, 1292, 212]
top5_prob       [0.4548872180451128, 0.3167727009832273, 0.129...
is_categorical                                               True
nobs                                                      17290.0
missing                                                   17290.0

name                                                               \
model                                                   tddpm_mlp
top5                                              [3, 4, 2, 5, 6]
top5_freq                           [10901, 7002, 2296, 1230, 89]
top5_prob       [0.5043723684819321, 0.3239716837088789, 0.106...
is_categorical                                               True
nobs                                                      21613.0
missing                                                       0.0

name                                                               \
model                                                   smote-enc
top5                                              [3, 4, 2, 5, 1]
top5_freq                            [11413, 7044, 2403, 699, 35]
top5_prob       [0.5280373831775701, 0.32589987970759693, 0.11...
is_categorical                                               True
nobs                                                      21614.0
missing                                                       0.0

name
model                                                       ctgan
top5                                              [4, 3, 2, 5, 1]
top5_freq                           [9083, 6256, 2192, 1842, 494]
top5_prob       [0.4202563272104752, 0.2894554203488641, 0.101...
is_categorical                                               True
nobs                                                      21613.0
missing                                                       0.0

In [8]:
fakes = syn.get_metrics_fake()
fakes

/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(

sqft_living
sqft_living15
sqft_lot15
yr_renovated
price
long
id
sqft_basement
lat
yr_built
sqft_lot
sqft_above
sqft_living
sqft_living15
sqft_lot15
yr_renovated
price
long
id
sqft_basement
lat
yr_built
sqft_lot
sqft_above
sqft_living
sqft_living15
sqft_lot15
yr_renovated
price
long
id

/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(

sqft_basement
lat
yr_built
sqft_lot
sqft_above
sqft_living
sqft_living15
sqft_lot15
yr_renovated
price
long
id
sqft_basement
lat
yr_built
sqft_lot

/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(

sqft_above
sqft_living
sqft_living15
sqft_lot15
yr_renovated
price
long
id
sqft_basement
lat
yr_built
sqft_lot
sqft_above
sqft_living
sqft_living15

/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(

sqft_lot15
yr_renovated
price
long
id
sqft_basement
lat
yr_built
sqft_lot
sqft_above
sqft_living
sqft_living15
sqft_lot15
yr_renovated
price
long
id
sqft_basement
lat
yr_built
sqft_lot
sqft_above

/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/python/3.10.12/lib/python3.10/site-packages/numpy/core/_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(

{'copulagan':              name                                               top5  \
 0        bedrooms                                    [3, 4, 2, 5, 1]
 1     sqft_living                       [419, 420, 1581, 1716, 1628]
 2   sqft_living15                     [6210, 1939, 1894, 1555, 1512]
 3         zipcode                [98006, 98118, 98034, 98052, 98028]
 4       bathrooms                        [2.5, 1.0, 2.0, 2.25, 1.75]
 5      sqft_lot15                     [8309, 8846, 9342, 8324, 7977]
 6    yr_renovated                     [1521, 1522, 1520, 1519, 1518]
 7           price  [382690.0, 475781.0, 474715.0, 996002.0, 66515...
 8          floors                          [1.0, 2.0, 1.5, 3.0, 2.5]
 9            view                                    [0, 2, 4, 3, 1]
 10           long   [-122.401, -122.4, -122.399, -122.412, -122.404]
 11             id  [1089403, 5879013372, 5891052854, 5890047296, ...
 12     waterfront                                             [0, 1]
 13  sqft_basement                                  [0, 41, 28, 8, 7]
 14          grade                                   [8, 7, 10, 6, 9]
 15            lat       [47.7775, 47.7776, 47.7774, 47.7773, 47.777]
 16       yr_built                     [2011, 2010, 2009, 2008, 2012]
 17       sqft_lot                         [5150, 747, 756, 720, 680]
 18      condition                                    [3, 4, 5, 2, 1]
 19           date  [20140603T000000, 20150417T000000, 20150310T00...
 20     sqft_above                         [419, 940, 1354, 879, 882]

                          top5_freq  \
 0   [10430, 3472, 3326, 2116, 697]
 1             [47, 34, 24, 22, 22]
 2             [29, 27, 26, 24, 23]
 3      [1015, 1002, 724, 614, 552]
 4   [4335, 3521, 2646, 2181, 1896]
 5                [10, 10, 9, 9, 9]
 6   [4897, 4236, 4130, 2952, 1863]
 7                  [3, 3, 2, 2, 2]
 8    [11156, 6299, 2682, 832, 433]
 9    [17962, 1539, 1163, 634, 315]
 10       [119, 116, 113, 112, 112]
 11                 [1, 1, 1, 1, 1]
 12                   [19650, 1963]
 13         [16432, 25, 25, 24, 22]
 14  [6235, 5055, 2918, 2333, 2252]
 15          [111, 110, 86, 82, 71]
 16       [351, 318, 312, 307, 294]
 17            [11, 11, 10, 10, 10]
 18    [9449, 7239, 3971, 479, 475]
 19       [494, 483, 460, 345, 296]
 20            [60, 32, 29, 29, 29]

                                             top5_prob  is_categorical  \
 0   [0.4825799287465877, 0.16064405681765603, 0.15...            True
 1   [0.0021746171285800214, 0.0015731272845046962,...           False
 2   [0.0013417850367834173, 0.001249248137694906, ...           False
 3   [0.04696247628741961, 0.046360986443344285, 0....            True
 4   [0.20057372877434876, 0.16291121084532456, 0.1...            True
 5   [0.00046268449544255774, 0.0004626844954425577...           False
 6   [0.2265765974182205, 0.19599315226946745, 0.19...           False
 7   [0.0001388053486327673, 0.0001388053486327673,...           False
 8   [0.5161708231157174, 0.2914449636792671, 0.124...            True
 9   [0.8310738907139221, 0.07120714384860963, 0.05...            True
 10  [0.0055059454957664365, 0.005367140147133669, ...           False
 11  [4.6268449544255775e-05, 4.6268449544255775e-0...           False
 12          [0.9091750335446259, 0.09082496645537408]            True
 13  [0.7602831629112109, 0.0011567112386063943, 0....           False
 14  [0.28848378290843474, 0.23388701244621293, 0.1...            True
 15  [0.005135797899412391, 0.005089529449868135, 0...           False
 16  [0.016240225790033775, 0.014713366955073335, 0...           False
 17  [0.0005089529449868135, 0.0005089529449868135,...           False
 18  [0.4371905797436728, 0.33493730625086754, 0.18...            True
 19  [0.02285661407486235, 0.02234766112987554, 0.0...            True
 20  [0.0027761069726553464, 0.0014805903854161848,...           False

        nobs  missing          mean       std_err      upper_ci  ...  \
 0   21613.0      0.0           NaN           NaN           NaN  ...
 1   21613.0      0.0  1.793224e+03  5.790367e+00  1.804573e+03  ...
 2   21613.0      0.0  1.965552e+03  5.405860e+00  1.976147e+03  ...
 3   21613.0      0.0           NaN           NaN           NaN  ...
 4   21613.0      0.0           NaN           NaN           NaN  ...
 5   21613.0      0.0  1.573201e+04  2.101349e+02  1.614386e+04  ...
 6   21613.0      0.0  1.536506e+03  5.934065e-01  1.537669e+03  ...
 7   21613.0      0.0  8.363342e+05  5.459310e+03  8.470342e+05  ...
 8   21613.0      0.0           NaN           NaN           NaN  ...
 9   21613.0      0.0           NaN           NaN           NaN  ...
 10  21613.0      0.0 -1.222673e+02  8.420001e-04 -1.222656e+02  ...
 11  21613.0      0.0  4.788527e+09  1.817407e+07  4.824148e+09  ...
 12  21613.0      0.0           NaN           NaN           NaN  ...
 13  21613.0      0.0  9.708837e+01  1.810795e+00  1.006375e+02  ...
 14  21613.0      0.0           NaN           NaN           NaN  ...
 15  21613.0      0.0  4.761316e+01  7.660513e-04  4.761466e+01  ...
 16  21613.0      0.0  1.966149e+03  2.082855e-01  1.966557e+03  ...
 17  21613.0      0.0  1.036620e+04  1.425620e+02  1.064562e+04  ...
 18  21613.0      0.0           NaN           NaN           NaN  ...
 19  21613.0      0.0           NaN           NaN           NaN  ...
 20  21613.0      0.0  1.396990e+03  4.318054e+00  1.405453e+03  ...

     mode_freq        median          0.1%          1.0%          5.0%  \
 0         NaN           NaN           NaN           NaN           NaN
 1    0.002175  1.716000e+03  4.190000e+02  4.730000e+02  6.350000e+02
 2    0.001342  1.814000e+03  5.144480e+02  7.541200e+02  9.770000e+02
 3         NaN           NaN           NaN           NaN           NaN
 4         NaN           NaN           NaN           NaN           NaN
 5    0.000463  8.639000e+03  7.542240e+02  1.068120e+03  1.905200e+03
 6    0.226577  1.521000e+03  1.515000e+03  1.516000e+03  1.517000e+03
 7    0.000139  5.580330e+05  9.495059e+04  1.706597e+05  2.421710e+05
 8         NaN           NaN           NaN           NaN           NaN
 9         NaN           NaN           NaN           NaN           NaN
 10   0.005506 -1.222950e+02 -1.225190e+02 -1.224810e+02 -1.224180e+02
 11   0.000046  4.252798e+09  1.651038e+07  1.301970e+08  8.160983e+08
 12        NaN           NaN           NaN           NaN           NaN
 13   0.760283  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
 14        NaN           NaN           NaN           NaN           NaN
 15   0.005136  4.762890e+01  4.723871e+01  4.733082e+01  4.739256e+01
 16   0.016240  1.965000e+03  1.900000e+03  1.900000e+03  1.911000e+03
 17   0.000509  5.725000e+03  6.670000e+02  7.060000e+02  9.120000e+02
 18        NaN           NaN           NaN           NaN           NaN
 19        NaN           NaN           NaN           NaN           NaN
 20   0.002776  1.291000e+03  4.190000e+02  4.460000e+02  6.210000e+02

            25.0%         75.0%         95.0%         99.0%         99.9%
 0            NaN           NaN           NaN           NaN           NaN
 1   1.194000e+03  2.194000e+03  3.303200e+03  4.552000e+03  6.733492e+03
 2   1.426000e+03  2.321000e+03  3.486000e+03  4.727680e+03  6.210000e+03
 3            NaN           NaN           NaN           NaN           NaN
 4            NaN           NaN           NaN           NaN           NaN
 5   6.333000e+03  1.169200e+04  5.019420e+04  1.972404e+05  2.711980e+05
 6   1.519000e+03  1.522000e+03  1.523000e+03  2.014000e+03  2.015000e+03
 7   4.007700e+05  9.291180e+05  2.470431e+06  4.413368e+06  5.553550e+06
 8            NaN           NaN           NaN           NaN           NaN
 9            NaN           NaN           NaN           NaN           NaN
 10 -1.223690e+02 -1.221900e+02 -1.220476e+02 -1.219612e+02 -1.217662e+02
 11  2.796654e+09  7.255897e+09  9.349985e+09  9.717203e+09  9.890781e+09
 12           NaN           NaN           NaN           NaN           NaN
 13  0.000000e+00  0.000000e+00  6.750000e+02  1.365000e+03  1.981924e+03
 14           NaN           NaN           NaN           NaN           NaN
 15  4.755920e+01  4.768840e+01  4.777540e+01  4.777750e+01  4.777760e+01
 16  1.944000e+03  1.994000e+03  2.011000e+03  2.014000e+03  2.015000e+03
 17  3.364000e+03  8.906000e+03  3.056560e+04  1.330554e+05  2.341424e+05
 18           NaN           NaN           NaN           NaN           NaN
 19           NaN           NaN           NaN           NaN           NaN
 20  9.430000e+02  1.706000e+03  2.537400e+03  3.503880e+03  5.349388e+03

 [21 rows x 35 columns],
 'tvae':              name                                               top5  \
 0        bedrooms                                          [3, 4, 2]
 1     sqft_living                     [1568, 1645, 1548, 1635, 1491]
 2   sqft_living15                     [1580, 1643, 1547, 1512, 1471]
 3         zipcode                [98115, 98042, 98038, 98034, 98006]
 4       bathrooms                         [2.5, 1.75, 1.0, 2.0, 3.5]
 5      sqft_lot15                      [651, 7967, 8603, 7602, 8263]
 6    yr_renovated                                          [0, 1, 2]
 7           price  [647201.0, 172248.0, 630659.0, 307130.0, 66339...
 8          floors                               [1.0, 2.0, 1.5, 3.0]
 9            view                                                [0]
 10           long  [-122.368, -122.374, -122.371, -122.37, -122.366]
 11             id  [9900000190, 1000102, 1527535302, 2433032773, ...
 12     waterfront                                                [0]
 13  sqft_basement                                    [0, 1, 2, 3, 4]
 14          grade                                   [7, 8, 9, 6, 10]
 15            lat      [47.7776, 47.6825, 47.6907, 47.6807, 47.6976]
 16       yr_built                     [1989, 1990, 1988, 1987, 2005]
 17       sqft_lot                      [520, 7881, 6334, 6917, 6478]
 18      condition                                             [3, 4]
 19           date  [20140626T000000, 20140623T000000, 20150414T00...
 20     sqft_above                     [1395, 1340, 1506, 1260, 1231]

                           top5_freq  \
 0                [15789, 5504, 320]
 1              [25, 25, 25, 24, 24]
 2              [35, 34, 33, 31, 31]
 3    [2607, 1852, 1810, 1534, 1516]
 4       [11432, 6255, 3714, 71, 61]
 5              [69, 11, 10, 10, 10]
 6                  [19841, 1771, 1]
 7                   [3, 3, 3, 3, 3]
 8              [12988, 8601, 17, 7]
 9                           [21613]
 10        [158, 158, 154, 153, 153]
 11                 [21, 8, 2, 1, 1]
 12                          [21613]
 13  [11234, 2627, 2280, 1885, 1380]
 14     [12807, 7503, 1087, 134, 82]
 15            [135, 28, 26, 25, 25]
 16        [564, 553, 542, 541, 510]
 17             [66, 12, 10, 10, 10]
 18                    [20602, 1011]
 19   [2758, 2700, 2061, 1046, 1019]
 20             [29, 29, 29, 28, 28]

                                             top5_prob  is_categorical  \
 0   [0.7305325498542544, 0.2546615462915838, 0.014...            True
 1   [0.0011567112386063943, 0.0011567112386063943,...           False
 2   [0.001619395734048952, 0.0015731272845046962, ...           False
 3   [0.12062184796187479, 0.08568916855596169, 0.0...            True
 4   [0.528940915189932, 0.28940915189931987, 0.171...            True
 5   [0.0031925230185536483, 0.0005089529449868135,...           False
 6   [0.9180123074075788, 0.08194142414287697, 4.62...           False
 7   [0.0001388053486327673, 0.0001388053486327673,...           False
 8   [0.600934622680794, 0.3979549345301439, 0.0007...            True
 9                                               [1.0]            True
 10  [0.007310415027992412, 0.007310415027992412, 0...           False
 11  [0.0009716374404293712, 0.0003701475963540462,...           False
 12                                              [1.0]            True
 13  [0.5197797621801693, 0.12154721695275991, 0.10...           False
 14  [0.5925600333132837, 0.34715217693055106, 0.05...            True
 15  [0.006246240688474529, 0.0012955165872391616, ...           False
 16  [0.026095405542960255, 0.02558645259797344, 0....           False
 17  [0.003053717669920881, 0.0005552213945310692, ...           False
 18          [0.9532225975107574, 0.04677740248924259]            True
 19  [0.12760838384305742, 0.12492481376949058, 0.0...            True
 20  [0.0013417850367834173, 0.0013417850367834173,...           False

        nobs  missing          mean       std_err      upper_ci  ...  \
 0   21613.0      0.0           NaN           NaN           NaN  ...
 1   21613.0      0.0  1.977458e+03  4.276266e+00  1.985839e+03  ...
 2   21613.0      0.0  1.840706e+03  3.419483e+00  1.847408e+03  ...
 3   21613.0      0.0           NaN           NaN           NaN  ...
 4   21613.0      0.0           NaN           NaN           NaN  ...
 5   21613.0      0.0  7.280164e+03  1.898514e+01  7.317374e+03  ...
 6   21613.0      0.0  8.203396e-02  1.867796e-03  8.569477e-02  ...
 7   21613.0      0.0  4.400150e+05  1.210918e+03  4.423884e+05  ...
 8   21613.0      0.0           NaN           NaN           NaN  ...
 9   21613.0      0.0           NaN           NaN           NaN  ...
 10  21613.0      0.0 -1.222644e+02  7.368882e-04 -1.222629e+02  ...
 11  21613.0      0.0  2.914109e+09  1.717722e+07  2.947775e+09  ...
 12  21613.0      0.0           NaN           NaN           NaN  ...
 13  21613.0      0.0  9.510619e+00  5.806747e-01  1.064872e+01  ...
 14  21613.0      0.0           NaN           NaN           NaN  ...
 15  21613.0      0.0  4.761115e+01  8.571212e-04  4.761283e+01  ...
 16  21613.0      0.0  1.977055e+03  1.720079e-01  1.977392e+03  ...
 17  21613.0      0.0  6.892398e+03  1.750968e+01  6.926717e+03  ...
 18  21613.0      0.0           NaN           NaN           NaN  ...
 19  21613.0      0.0           NaN           NaN           NaN  ...
 20  21613.0      0.0  1.655071e+03  4.107773e+00  1.663122e+03  ...

     mode_freq        median          0.1%          1.0%          5.0%  \
 0         NaN           NaN           NaN           NaN           NaN
 1    0.001157  1.894000e+03  6.222240e+02  8.440000e+02  1.115000e+03
 2    0.001619  1.755000e+03  8.242840e+02  1.025000e+03  1.201000e+03
 3         NaN           NaN           NaN           NaN           NaN
 4         NaN           NaN           NaN           NaN           NaN
 5    0.003193  7.246000e+03  6.510000e+02  1.481720e+03  3.002000e+03
 6    0.918012  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
 7    0.000139  4.192680e+05  1.085559e+05  1.540641e+05  2.018252e+05
 8         NaN           NaN           NaN           NaN           NaN
 9         NaN           NaN           NaN           NaN           NaN
 10   0.007310 -1.222970e+02 -1.224214e+02 -1.224040e+02 -1.223880e+02
 11   0.000972  1.891698e+09  1.550400e+08  5.224385e+08  8.615627e+08
 12        NaN           NaN           NaN           NaN           NaN
 13   0.519780  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
 14        NaN           NaN           NaN           NaN           NaN
 15   0.006246  4.766650e+01  4.724826e+01  4.729500e+01  4.734376e+01
 16   0.026095  1.985000e+03  1.902000e+03  1.911000e+03  1.928000e+03
 17   0.003054  6.789000e+03  5.200000e+02  1.468000e+03  2.965600e+03
 18        NaN           NaN           NaN           NaN           NaN
 19        NaN           NaN           NaN           NaN           NaN
 20   0.001342  1.515000e+03  5.796120e+02  7.330000e+02  9.150000e+02

            25.0%         75.0%         95.0%         99.0%         99.9%
 0            NaN           NaN           NaN           NaN           NaN
 1   1.516000e+03  2.346000e+03  3.108000e+03  3.932880e+03  4.583776e+03
 2   1.479000e+03  2.112000e+03  2.751400e+03  3.562000e+03  4.183552e+03
 3            NaN           NaN           NaN           NaN           NaN
 4            NaN           NaN           NaN           NaN           NaN
 5   5.425000e+03  8.943000e+03  1.138600e+04  1.628828e+04  2.241630e+04
 6   0.000000e+00  0.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
 7   2.943740e+05  5.609170e+05  7.580616e+05  9.247649e+05  1.091940e+06
 8            NaN           NaN           NaN           NaN           NaN
 9            NaN           NaN           NaN           NaN           NaN
 10 -1.223550e+02 -1.221810e+02 -1.220506e+02 -1.219890e+02 -1.217910e+02
 11  1.393556e+09  2.852482e+09  8.902981e+09  9.461210e+09  9.886688e+09
 12           NaN           NaN           NaN           NaN           NaN
 13  0.000000e+00  3.000000e+00  6.000000e+00  1.100000e+01  1.071328e+03
 14           NaN           NaN           NaN           NaN           NaN
 15  4.753830e+01  4.770360e+01  4.775620e+01  4.777330e+01  4.777760e+01
 16  1.958000e+03  1.999000e+03  2.009000e+03  2.013880e+03  2.015000e+03
 17  5.198000e+03  8.409000e+03  1.089400e+04  1.457888e+04  2.068982e+04
 18           NaN           NaN           NaN           NaN           NaN
 19           NaN           NaN           NaN           NaN           NaN
 20  1.231000e+03  1.952000e+03  2.850400e+03  3.531640e+03  4.438492e+03

 [21 rows x 35 columns],
 'gaussiancopula':              name                                               top5  \
 0        bedrooms                                    [3, 2, 5, 4, 1]
 1     sqft_living                     [1434, 1749, 1318, 1836, 1909]
 2   sqft_living15                     [1687, 1727, 1611, 1803, 1713]
 3         zipcode                [98118, 98031, 98106, 98136, 98004]
 4       bathrooms                       [1.0, 2.25, 1.75, 2.5, 2.75]
 5      sqft_lot15                     [1578, 2902, 3500, 2383, 1728]
 6    yr_renovated                     [2014, 2015, 2013, 2012, 2011]
 7           price  [438185.0, 493726.0, 467325.0, 431023.0, 25063...
 8          floors                          [1.0, 1.5, 2.0, 2.5, 3.0]
 9            view                                    [0, 2, 1, 3, 4]
 10           long  [-122.268, -122.222, -122.262, -122.245, -122....
 11             id  [1092520, 6334274991, 6339915949, 6339119794, ...
 12     waterfront                                             [0, 1]
 13  sqft_basement                                    [0, 1, 2, 3, 4]
 14          grade                                   [6, 7, 8, 9, 10]
 15            lat      [47.7031, 47.7021, 47.7091, 47.7098, 47.5942]
 16       yr_built                     [2010, 2012, 2008, 2003, 2007]
 17       sqft_lot                         [610, 611, 615, 696, 1461]
 18      condition                                    [3, 4, 5, 2, 1]
 19           date  [20141118T000000, 20141122T000000, 20150305T00...
 20     sqft_above                     [1496, 1175, 1458, 1735, 1387]

                          top5_freq  \
 0   [8327, 5512, 3488, 2085, 1207]
 1             [21, 19, 19, 19, 19]
 2             [27, 26, 25, 23, 23]
 3        [425, 423, 404, 403, 394]
 4   [3624, 3349, 3274, 2671, 2240]
 5                  [9, 8, 7, 7, 7]
 6     [1433, 1325, 1118, 867, 790]
 7                  [2, 2, 2, 2, 2]
 8    [9167, 6141, 3739, 1851, 652]
 9      [16551, 4063, 828, 143, 28]
 10            [85, 83, 82, 81, 80]
 11                 [1, 1, 1, 1, 1]
 12                   [19848, 1765]
 13     [8677, 1319, 704, 538, 393]
 14  [5511, 5372, 3730, 2734, 2413]
 15            [15, 15, 14, 14, 14]
 16       [324, 314, 314, 310, 305]
 17              [11, 10, 10, 7, 7]
 18     [9170, 8299, 3566, 558, 20]
 19       [112, 110, 106, 105, 105]
 20            [24, 23, 22, 21, 21]

                                             top5_prob  is_categorical  \
 0   [0.3852773793550178, 0.25503169388793784, 0.16...            True
 1   [0.0009716374404293712, 0.0008791005413408597,...           False
 2   [0.001249248137694906, 0.00120297968815065, 0....           False

### Categoricas

## Scores

In [6]:
best_model = "tddpm_mlp"
second_best_model = "smote-enc"
avg = syn.scores[syn.scores["type"] == "avg"]
avg.sort_values("score", ascending=False).loc[:,:]
#["tddpm_mlp_21613","smote-enc_21613","gaussiancopula_noise_21613","tvae_21613", "tvae_noise_21613","gaussiancopula_21613","copulagan_noise_21613","copulagan_21613","ctgan_noise_21613","ctgan_21613"]

,type,score,DCR ST min,DCR ST median,DCR SH min,DCR SH median,DCR TH min,DCR TH median,NNDR ST min,NNDR ST median,...,DCR TH 4th,NNDR ST 4th,NNDR SH 4th,NNDR TH 4th,DCR ST 5th,DCR SH 5th,DCR TH 5th,NNDR ST 5th,NNDR SH 5th,NNDR TH 5th
name,,,,,,,,,,,,,,,,,,,,,
tddpm_mlp,avg,0.952689,0.009899,0.121249,0.018193,0.155043,0.0,0.153296,0.137955,0.908400,...,0.031358,0.588012,0.583750,0.326829,0.058378,0.077012,0.03575,0.612164,0.608169,0.375854
smote-enc,avg,0.952646,0.000000,0.066770,0.001107,0.134084,0.0,0.153296,0.000000,0.779977,...,0.031358,0.173220,0.373458,0.326829,0.007228,0.037418,0.03575,0.201613,0.416489,0.375854
tablepreset,avg,0.836980,0.078967,0.315500,0.085301,0.342772,0.0,0.153296,0.450519,0.967439,...,0.031358,0.810137,0.803688,0.326829,0.180160,0.199969,0.03575,0.825372,0.818240,0.375854
ctgan,avg,0.832274,0.084916,0.384837,0.118942,0.416981,0.0,0.153296,0.461753,0.961595,...,0.031358,0.803488,0.802830,0.326829,0.217130,0.239812,0.03575,0.818162,0.816103,0.375854
gaussiancopula,avg,0.787893,0.078828,0.435557,0.126695,0.493878,0.0,0.153296,0.390005,0.940247,...,0.031358,0.736567,0.734955,0.326829,0.262619,0.306095,0.03575,0.753418,0.752466,0.375854
copulagan,avg,0.785707,0.185504,0.526842,0.215969,0.584785,0.0,0.153296,0.542963,0.956260,...,0.031358,0.813382,0.816341,0.326829,0.364287,0.403792,0.03575,0.823719,0.827309,0.375854
tvae,avg,0.735253,0.034065,0.139694,0.033931,0.158563,0.0,0.153296,0.355204,0.941242,...,0.031358,0.717269,0.689719,0.326829,0.080863,0.099092,0.03575,0.733091,0.707343,0.375854

In [7]:
avg.loc[["ctgan"],:].T

name               ctgan
type                 avg
score           0.832274
DCR ST min      0.084916
DCR ST median   0.384837
DCR SH min      0.118942
DCR SH median   0.416981
DCR TH min           0.0
DCR TH median   0.153296
NNDR ST min     0.461753
NNDR ST median  0.961595
NNDR SH min     0.353641
NNDR SH median  0.960473
NNDR TH min          0.0
NNDR TH median  0.876758
DCR ST 1th      0.169646
DCR SH 1th      0.187273
DCR TH 1th      0.007944
NNDR ST 1th     0.721002
NNDR SH 1th     0.717766
NNDR TH 1th      0.07981
DCR ST 2th      0.187475
DCR SH 2th      0.207986
DCR TH 2th      0.015973
NNDR ST 2th     0.760829
NNDR SH 2th     0.757978
NNDR TH 2th     0.177094
DCR ST 3th      0.199567
DCR SH 3th      0.221456
DCR TH 3th      0.023612
NNDR ST 3th     0.786667
NNDR SH 3th     0.784063
NNDR TH 3th     0.260081
DCR ST 4th      0.209064
DCR SH 4th       0.23177
DCR TH 4th      0.031358
NNDR ST 4th     0.803488
NNDR SH 4th      0.80283
NNDR TH 4th     0.326829
DCR ST 5th       0.21713
DCR SH 5th      0.239812
DCR TH 5th       0.03575
NNDR ST 5th     0.818162
NNDR SH 5th     0.816103
NNDR TH 5th     0.375854

In [ ]:
syn.scores[syn.scores["type"] == "avg"].sort_values("score", ascending=False).loc[:,["DCR ST 5th", "DCR SH 5th", "DCR TH 5th","NNDR ST 5th", "NNDR SH 5th", "NNDR TH 5th", "score"]].reset_index().rename(columns={'name':"Modelo", "score": "textbf{Score}", "DCR ST 5th":"DCR ST", "DCR SH 5th": "DCR SH", "DCR TH 5th": "DCR TH"})

In [ ]:
np.count_nonzero( syn.dist.loc["tddpm_mlp", "DCR ST"] ) / len(syn.dist.loc["tddpm_mlp", "DCR ST"])

In [ ]:
np.min( syn.dist.loc["tddpm_mlp", "DCR ST"] )

In [ ]:
import numpy as np
np.quantile(syn.dist.loc["tddpm_mlp", "DCR ST"], 0.000000001)

In [ ]:
print(avg.sort_values("score", ascending=False).loc[["tddpm_mlp","smote-enc","tvae", "gaussiancopula","copulagan","ctgan"],["score", "DCR ST 5th", "DCR SH 5th", "DCR TH 5th", "NNDR ST 5th", "NNDR SH 5th", "NNDR TH 5th"]].style.to_latex().replace("_", "\_"))

In [ ]:
syn.scores.type.unique()

In [ ]:
f = syn.scores.sort_values("score", ascending=False).loc[:
    ,["type", "score"]].reset_index().pivot(index="name", 
                                            columns=["type"],values="score").sort_values(
    "avg", ascending=False).rename(columns={'avg':'Score'}).loc[:,
    ["Column Pair Trends", "Column Shapes", "Coverage", "Boundaries", "Score"]].reset_index().rename(columns={"name": "Model Name"})
display(f)

In [ ]:
t = f.rename(columns={"Score":"\\textbf{Score}"})
print(
    t.style
    .hide(axis="index")
    .format(precision=3)
    .format("\hline {}", t.columns[0], escape="latex")
    .set_table_styles([
        {'selector': 'toprule', 'props': ':hline\n \\rowcolor[gray]{0.8};'},
        {'selector': 'bottomrule', 'props': ':hline;'}
    ], overwrite=False)
    .highlight_max(
        subset=t.columns[1:],
        props='cellcolor:[HTML]{EEEEEE};'
    )
    .to_latex(

        #column_format = "|l|m{5em}|m{5em}|r|r|r|",
        column_format = f"|l|{'r|'*len(f.columns[1:])}",
        position="H",
        position_float="centering",
        caption = "test",
        label = "test",
        clines=None
    )
)

In [ ]:
f.columns

In [ ]:
from syntheticml.data.charts import Charts
import os
folder_path = f"../docs/tesis/imagenes/kingcounty/{best_model}"
if not os.path.exists(folder_path):
    os.mkdir(folder_path)
for fig in syn.get_charts(best_model, {'date', 'id', 'zipcode', 'lat', 'long', 'yr_renovated'}):
    if fig:
        file_name = f'{fig.layout.title.text.replace(":","").replace(" ","_").lower()}.svg'
        fig.write_image(f"{folder_path}/{file_name}")
        display(fig.show("png"))

In [ ]:
import os
folder_path = f"../docs/tesis/imagenes/kingcounty/top2+1"
if not os.path.exists(folder_path):
    os.mkdir(folder_path)
for fig in syn.get_multiple_charts([best_model,second_best_model,"copulagan"], {'date', 'id', 'zipcode', 'lat', 'long', 'yr_renovated'}):
    if fig:
        file_name = f'{fig.layout.title.text.replace(":","").replace(" ","_").lower()}.svg'
        fig.write_image(f"{folder_path}/{file_name}")
        display(fig.show("png"))

In [ ]:
from syntheticml.data.charts import Charts
import os
folder_path = f"../docs/tesis/imagenes/kingcounty/{second_best_model}"
if not os.path.exists(folder_path):
    os.mkdir(folder_path)
for fig in syn.get_charts(second_best_model, {'date', 'id', 'zipcode', 'lat', 'long', 'yr_renovated'}):
    if fig:
        file_name = f'{fig.layout.title.text.replace(":","").replace(" ","_").lower()}.svg'
        fig.write_image(f"{folder_path}/{file_name}")
        display(fig.show("png"))

In [ ]:
syn.charts.pair_corr(syn.df, syn.fake_data[best_model], {'id', 'waterfront', 'yr_renovated'}, "price").update_layout(dict(width=1000)).show("png")

In [ ]:
current_metrics = syn.current_metrics()
fake_metrics = syn.get_metrics_fake()

In [ ]:
columns = ["bathrooms", "sqft_lot", "sqft_above", "price", "sqft_lot15", "sqft_living", "sqft_basement", "yr_built", "sqft_living15", "grade"]

In [ ]:
current_metrics.loc[(current_metrics.name.isin(columns) & current_metrics.is_categorical),:].dropna(axis=1, how='all')

In [ ]:
models = ["smote-enc", "tddpm_mlp"]
prop_cat = ["name", "top5", "top5_prob"]
import numpy as np
columns = list(current_metrics.name.unique())
dfs = [
    current_metrics.loc[(current_metrics.name.isin(columns) & current_metrics.is_categorical),prop_cat].dropna(axis=1, how='all').assign(model="Real")
]
for model_name in models:
    dfs.append(fake_metrics[model_name].loc[(fake_metrics[model_name].name.isin(columns) & fake_metrics[model_name].is_categorical),prop_cat].dropna(axis=1, how='all').assign(model=model_name))

diffdf = pd.concat(dfs).sort_values(["name", "model"], ascending=[True, True]).loc[:, ["model", "name"] + prop_cat[1:]]


for name in diffdf.name.unique():
    #print(name)
    #print(diffdf.loc[((diffdf.name == name) & (diffdf.model != "Real")) , ["top5_prob"]])
    #print(diffdf.loc[((diffdf.name == name) & (diffdf.model == "Real")), ["top5_prob"]])
    #diffdf.loc[((diffdf.name == name) & (diffdf.model != "Real")), ["top5_prob"]] = np.abs(diffdf.loc[((diffdf.name == name) & (diffdf.model != "Real")) , ["top5_prob"]].values
    #    - diffdf.loc[((diffdf.name == name) & (diffdf.model == "Real")), ["top5_prob"]].values)
    #print(
    #    np.array(np.abs(diffdf.loc[((diffdf.name == name) & (diffdf.model != "Real")) , ["top5_prob"]].values
    #    - diffdf.loc[((diffdf.name == name) & (diffdf.model == "Real")), ["top5_prob"]].values).tolist()).reshape(-1,5).sum(axis=1).reshape(-1,1)
    #)

    #diffdf.loc[((diffdf.name == name) & (diffdf.model != "Real")), ["top5_prob"]] = np.array(np.abs(diffdf.loc[((diffdf.name == name) & (diffdf.model != "Real")) , ["top5_prob"]].values
    #    - diffdf.loc[((diffdf.name == name) & (diffdf.model == "Real")), ["top5_prob"]].values).tolist()).reshape(-1,5).sum(axis=1).reshape(-1,1)

    #diffdf.loc[((diffdf.name == name) & (diffdf.model != "Real")), ["top5_prob"]] = np.array(np.abs(diffdf.loc[((diffdf.name == name) & (diffdf.model != "Real")) , ["top5_prob"]].values
    #- diffdf.loc[((diffdf.name == name) & (diffdf.model == "Real")), ["top5_prob"]].values).tolist()).sum(axis=2)
    pass
diffdf
#print(diffdf.style.to_latex().replace("_", "\_"))

In [ ]:
models = ["smote-enc", "tddpm_mlp"]
prop_cat = ["name", "range", "min", "1.0%", "mean", "99.0%", "max"]
import numpy as np
columns = list(current_metrics.name.unique())
dfs = [
    current_metrics.loc[(current_metrics.name.isin(columns) & ~current_metrics.is_categorical),prop_cat].dropna(axis=1, how='all').assign(model="Real")
]
for model_name in models:
    dfs.append(fake_metrics[model_name].loc[(fake_metrics[model_name].name.isin(columns) & ~fake_metrics[model_name].is_categorical),prop_cat].dropna(axis=1, how='all').assign(model=model_name))

diffdf = pd.concat(dfs).sort_values(["name", "model"], ascending=[True, True]).loc[:, ["model", "name"] + prop_cat[1:]]
diffdf

In [ ]:
k['smote-enc']['report']['column_pair_trends']
#k['smote-enc_21613']['report']['column_shape']

In [ ]:
pd.concat(
    [k[model_name]['report']['column_pair_trends'].loc[:,["Column 1", "Quality Score"]].groupby("Column 1").mean(numeric_only=True).assign(model=model_name) for model_name in models]
).reset_index().pivot(index=["Column 1"], values="Quality Score", columns="model").sort_values("smote-enc", ascending=False)

In [ ]:
display(
    pd.concat(
    [k[model_name]['report']['column_shape'].assign(model=model_name) for model_name in models]
).pivot(index=["Column","Metric"], values="Quality Score", columns="model").sort_values("smote-enc", ascending=False)
#.style.to_latex().replace("_", "\_")
)

In [ ]:
f = pd.concat(
    [
        k[model_name]['diagnostic']['coverage'].assign(model=model_name) 
        for model_name in models
    ]
    ).pivot(index=["Column","Metric"], 
            values="Diagnostic Score", columns="model").sort_values("smote-enc", ascending=False).reset_index().rename(columns={"Column": "Columna", "Metric":"Metrica", "smote-enc":"smote-enc $\\uparrow$"})


display(
    f.style.hide(axis=0)
)

In [ ]:
pair_trends = k['smote-enc']['report']['column_pair_trends']
pair_trends[pair_trends['Column 1'] == "price"]