In [6]:
from rouge_score import rouge_scorer
rouge1 = rouge_scorer.RougeScorer(['rouge1', 'rouge2', 'rougeL'], use_stemmer=True)

In [1]:
22059 - 11008

11051

In [2]:
22059- 11051

11008

In [4]:
(13503+13555)-22059

4999

In [9]:
preds = "Agenda un visit! mos terreno en coronel, con galpón de 500mts2 oficina 100 metros cuadrados."
target = "por cambio de giro se vende unidad de negocio que consta dd Galpon metalico de buenas fundaciones y seguras estructuras comprobadas (terremoto) piso de cemento en toda su estructura , Galpon construido sitio de 500 mts. Cuadrados en su totalidad.  Consta de oficina y baño en segundo piso , primer piso atril para acopio de muestras de molduras para su venta.  Moldurera 4 cabezales y Re Rip para calibrado de madera , todo esto dentro de caseta acústica reforzada para poder ser utilizado su segundo piso,agua potable, alcantarillado,etc. Llamar solo verdaderos interesados,contactarse con Alejandro"
rouge1.score(
    preds,
    target
)

{'rouge1': Score(precision=0.052083333333333336, recall=0.3125, fmeasure=0.0892857142857143),
 'rouge2': Score(precision=0.0, recall=0.0, fmeasure=0.0),
 'rougeL': Score(precision=0.03125, recall=0.1875, fmeasure=0.05357142857142857)}

In [25]:
from torchmetrics.text.bert import BERTScore
preds = ["hello there", "general kenobi"]
target = ["hello there", "master kenobi"]
bertscore = BERTScore()
score = bertscore(preds, target)
from pprint import pprint
rounded_score = {k: [round(v, 3) for v in vv] for k, vv in score.items()}
pprint(rounded_score)

/home/gvillarroel/.pyenv/versions/3.9.15/envs/syn/lib/python3.9/site-packages/torchmetrics/text/bert.py:163: UserWarning: The argument `model_name_or_path` was not specified while it is required when the default `transformers` model is used. It will use the default recommended model - 'roberta-large'.
  warn(
Some weights of the model checkpoint at roberta-large were not used when initializing RobertaModel: ['lm_head.layer_norm.bias', 'lm_head.dense.bias', 'lm_head.layer_norm.weight', 'lm_head.decoder.weight', 'lm_head.dense.weight', 'lm_head.bias']
- This IS expected if you are initializing RobertaModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
{'f1': [1.0, 0.996], 'precision': [1.0, 0.996], 'recall': [1.0, 0.996]}

In [ ]:
import polars as prs 
import numpy as np
df1 = prs.read_parquet('../datasets/economicos/synth/split/train.parquet').replace(to_replace="None", value=np.nan).replace(to_replace=-1, value=np.nan)
df1

In [12]:
import pandas as pd
c = pd.read_parquet("/home/gvillarroel/dev/synthetic-data-for-text/datasets/economicos/synth/data/copulagan_27574.parquet")
c

,url,property_type,transaction_type,state,county,publication_date,rooms,bathrooms,m_built,m_size,source,_price
0,a,Casa,Venta,Libertador General Bernardo O'higgins,Macul,2022-02-22 01:54:20,3.0,2.0,45.0,1044.0,El Mercurio,4495.0
1,b,Departamento,Venta,Metropolitana de Santiago,Ñuñoa,2022-02-21 20:57:18,1.0,2.0,49.0,84.0,El Mercurio,3466.0
2,c,Departamento,Arriendo,Metropolitana de Santiago,Santiago,2022-07-21 01:03:21,2.0,2.0,43.0,140.0,El Mercurio,10.0
3,d,Oficina o Casa Oficina,Arriendo,Metropolitana de Santiago,Santiago,2022-07-20 23:41:11,2.0,2.0,98.0,57.0,El Mercurio,60.0
4,e,Casa,Venta,Metropolitana de Santiago,Temuco,2020-02-06 19:31:37,4.0,3.0,110.0,850.0,El Mercurio,6841.0
...,...,...,...,...,...,...,...,...,...,...,...,...
27569,jjj,Casa,Venta,Metropolitana de Santiago,Lo Barnechea,2022-02-21 11:16:26,4.0,4.0,71.0,171.0,El Mercurio,21081.0
27570,jjk,Casa,Venta,Valparaíso,Viña del Mar,2022-02-24 08:55:46,4.0,3.0,36.0,367.0,El Mercurio,15201.0
27571,jjl,Casa,Venta,Metropolitana de Santiago,San Miguel,2022-07-20 23:59:17,7.0,5.0,351.0,90.0,El Mercurio,16294.0
27572,jjm,Casa,Venta,Metropolitana de Santiago,Maipú,2022-07-21 20:00:55,3.0,4.0,180.0,384.0,El Mercurio,7957.0
27573,jjn,Departamento,Venta,Metropolitana de Santiago,Valdivia,2022-02-22 18:12:22,1.0,1.0,44.0,144.0,El Mercurio,2833.0

In [24]:
pd.read_parquet("/home/gvillarroel/dev/synthetic-data-for-text/datasets/economicos/synth/data/smote-enc_27574.parquet")

        url              publication_date
0         0 2022-02-23 00:00:02.000000000
1         1 2022-07-21 00:00:11.000000000
2         2 2022-03-16 03:12:04.158453248
3         3 2022-05-05 16:41:04.162624512
4         4 2022-02-23 11:31:16.643358976
...     ...                           ...
27569  2569 2022-02-23 00:00:21.612900096
27570  2570 2022-02-23 00:00:13.809176320
27571  2571 2019-12-13 00:05:14.075618304
27572  2572 2022-02-23 00:00:24.714108416
27573  2573 2022-02-23 00:00:19.000000000

[27574 rows x 2 columns]

In [25]:
display(c.loc[:2, "publication_date"])
display(c.loc[:2, "publication_date"].dtype)
from functools import partial
p = partial(pd.to_datetime)
display(c.loc[:2].apply({"publication_date":pd.to_numeric}).apply({"publication_date":p}))
c.loc[:2].apply({"publication_date":pd.to_numeric}).apply({"publication_date":p}).to_parquet("test.parquet")

0   2022-02-22 01:54:20
1   2022-02-21 20:57:18
2   2022-07-21 01:03:21
Name: publication_date, dtype: datetime64[ns]

dtype('<M8[ns]')

     publication_date
0 2022-02-22 01:54:20
1 2022-02-21 20:57:18
2 2022-07-21 01:03:21

In [28]:
c.loc[:2].replace({"publication_date":pd.to_numeric})

,url,property_type,transaction_type,state,county,publication_date,rooms,bathrooms,m_built,m_size,source,_price
0,a,Casa,Venta,Libertador General Bernardo O'higgins,Macul,2022-02-22 01:54:20,3.0,2.0,45.0,1044.0,El Mercurio,4495.0
1,b,Departamento,Venta,Metropolitana de Santiago,Ñuñoa,2022-02-21 20:57:18,1.0,2.0,49.0,84.0,El Mercurio,3466.0
2,c,Departamento,Arriendo,Metropolitana de Santiago,Santiago,2022-07-21 01:03:21,2.0,2.0,43.0,140.0,El Mercurio,10.0

In [34]:
c.loc[:2].apply({"publication_date":pd.to_numeric}, )

      publication_date
0  1645494860000000000
1  1645477038000000000
2  1658365401000000000