In [1]:
import pandas as pd
df = pd.read_csv('../datasets/kingcounty/raw/kc_house_data.csv')

In [2]:
from sdv.metadata import SingleTableMetadata

metadata = SingleTableMetadata()
metadata.detect_from_dataframe(df)

In [3]:
category_columns=("condition", "floors", "grade", "view",
                                      "waterfront", "zipcode", "bathrooms", "bedrooms",)
for cat in category_columns:
    metadata.update_column(column_name=cat, sdtype="categorical")

In [4]:
metadata.set_primary_key(column_name='id')
a = metadata.to_dict()

In [5]:
metadata.columns["price"]

{'sdtype': 'numerical'}

In [6]:
import pandas as pd
A = "/workspaces/synthetic-data-for-text/datasets/economicos/synth-b-1/data/tddpm_mlp.parquet"
B = "/workspaces/synthetic-data-for-text/datasets/economicos/synth-b-1/data/tddpm_mlp_with_text.parquet"
df_A = pd.read_parquet(A)
df_B = pd.read_parquet(B)
display(df_A.head(1))
display(df_B.head(1))
display((df_A.join(df_B.drop(columns=df_A.columns))).head(1))

,m_built,m_size,publication_date,_price,property_type,transaction_type,state,county,rooms,bathrooms
0,67.0,400.0,59.401995,1716.667055,Casa,Venta,Valparaíso,Villa Alemana,-1.0,-1.0

,m_built,m_size,publication_date,_price,property_type,transaction_type,state,county,rooms,bathrooms,description
0,67.0,400.0,59.401995,1716.667055,Casa,Venta,Valparaíso,Villa Alemana,-1.0,-1.0,

,m_built,m_size,publication_date,_price,property_type,transaction_type,state,county,rooms,bathrooms,description
0,67.0,400.0,59.401995,1716.667055,Casa,Venta,Valparaíso,Villa Alemana,-1.0,-1.0,

In [7]:
import pandas as pd
df = pd.read_parquet("/workspaces/synthetic-data-for-text/datasets/economicos/synth-a-1/data/tddpm_mlp.parquet")
df

,m_built,m_size,publication_date,_price,property_type,transaction_type,state,county,rooms,bathrooms
0,85.000000,96.000000,1545.000000,20.909852,Departamento,Arriendo,Metropolitana de Santiago,Macul,3.0,2.0
1,186.471443,5000.000000,1545.000000,9940.562694,Casa,Venta,Coquimbo,La Serena,4.0,5.0
2,70.000000,216.259194,1117.802137,4971.183796,Casa,Venta,Metropolitana de Santiago,La Florida,3.0,2.0
3,440.199224,7763.734660,1546.000000,48271.306332,Casa,Venta,Los Ríos,Valdivia,6.0,5.0
4,247.680964,500.000000,1545.000000,99.500168,Casa,Arriendo,Metropolitana de Santiago,Ñuñoa,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...
27569,135.000000,140.000000,1545.000000,2956.807938,Casa,Venta,Metropolitana de Santiago,El Bosque,5.0,3.0
27570,98.000000,125.000000,1545.000000,2800.000000,Casa,Venta,Valparaíso,La Cruz,4.0,3.0
27571,130.000000,148.000000,1545.000000,8994.164624,Departamento,Venta,Metropolitana de Santiago,San Miguel,3.0,3.0
27572,40.000000,40.000000,1204.280793,15.001335,Departamento,Arriendo,Metropolitana de Santiago,Vitacura,1.0,1.0
27573,55.000000,57.000000,1545.000000,3179.945089,Oficina o Casa Oficina,Venta,Metropolitana de Santiago,Santiago,2.0,2.0

In [27]:
from scipy import stats
print(stats.tmean(k))
stats.tmean(k, (k1, k99))

1803.9583348865492

173.1520490261688

In [26]:
k = df.loc[:,["m_built"]]
k1 = np.perc(k, 0.1)
k99 = np.percentile(k, 99.9)

print(k1, k99)

display(describe( k ))
display(describe( k.truncate(before=k1, after=k99) ))

3.7172756010030774 9086.13294331249

                       m_built
nobs              2.757400e+04
missing           0.000000e+00
mean              1.803958e+03
std_err           6.128926e+02
upper_ci          3.005206e+03
lower_ci          6.027110e+02
std               1.017734e+05
iqr               1.375097e+02
iqr_normal        1.019361e+02
mad               3.284217e+03
mad_normal        4.116156e+03
coef_var          5.641671e+01
range             1.199764e+07
max               1.199764e+07
min               1.000000e+00
skew              8.375148e+01
kurtosis          8.272726e+03
jarque_bera       7.860477e+10
jarque_bera_pval  0.000000e+00
mode              1.400000e+02
mode_freq         3.419888e-02
median            1.069268e+02
1%                2.413328e+01
5%                3.400000e+01
10%               4.039875e+01
25%               6.000000e+01
50%               1.069268e+02
75%               1.975097e+02
90%               3.399538e+02
95%               4.500000e+02
99%               8.350173e+02

                       m_built
nobs              9.083000e+03
missing           0.000000e+00
mean              1.549925e+03
std_err           9.278795e+02
upper_ci          3.368535e+03
lower_ci         -2.686852e+02
std               8.843134e+04
iqr               1.400000e+02
iqr_normal        1.037822e+02
mad               2.779523e+03
mad_normal        3.483616e+03
coef_var          5.705524e+01
range             6.132842e+06
max               6.132843e+06
min               1.000000e+00
skew              6.710236e+01
kurtosis          4.522680e+03
jarque_bera       7.737777e+09
jarque_bera_pval  0.000000e+00
mode              1.400000e+02
mode_freq         3.368931e-02
median            1.071353e+02
1%                2.410802e+01
5%                3.400000e+01
10%               4.034064e+01
25%               6.000000e+01
50%               1.071353e+02
75%               2.000000e+02
90%               3.382567e+02
95%               4.445037e+02
99%               8.104775e+02

In [15]:
from statsmodels.stats.descriptivestats import describe
import numpy as np